.myDetails{
    direction: rtl;
    font-family: 'Alef', sans-serif;

    .box-title{
        background-color: #242A30;
        color: #FFFFFF;
        width: 100%;
        height: 35px;
        display: grid;
        align-items: center;
        h3{
            font-size: 0.8vw;
            margin-right: 2%;
        }
    }

    .box-content{
        border: 1px solid #2D353C;
        height: 30vh;
    }

    .box-herf{
        width: 100%;
        height: 35px;
        background-color: #D9E0E7;
        border-top: 1px solid #EEEEEE;
        display: grid;
        justify-items: center;
        align-items: center;
        font-weight: 700;
        cursor: pointer;
    }
}