<div class="records">
      <div class="box-title"><h3>הישגים בולטים</h3></div>
      <div class="box-content" id="bestRecordBoxContent">
          <table>
            <tr >
              <th>תאריך</th>
              <th>סגנון</th>
              <th>מרחק</th>
              <th>זמן תגובה</th>
              <th>זמן סופי</th>
            </tr>
            <tr *ngFor="let rec of records | slice:0:8">
              <td>{{rec.date | datepipe}}</td>
              <td>{{rec.exercise_id.style}}</td>
              <td>{{rec.exercise_id.distance}}</td>
              <td>{{rec.jump_time}}</td>
              <td>{{rec.results[rec.results.length -1]}}</td>
            </tr>
          </table>
      </div>
      <div class="box-herf" (click)="GoToStats()">צפייה בכל ההשיגים</div>
  </div>