<div id="envelop" class="envelop">
  <div class="div-1">
    <div class="logo-div">
      <img class="logo" src="/assets/logo.jpeg">
    </div>
    <div class="form-div">
      <form class="form" *ngIf="!signUp">
        <div class="form-1">
          <span>נא להזין כתובת מייל:</span>
        </div>
        <div class="form-2">
          <input class="input-1" type="email" [(ngModel)]="email" name="first" (change)="DisableError()" placeholder="youremail@youremail.com">
        </div>
        <div [ngClass]="{'visible': emailError}" class="form-3">
          <span>כתובת המייל אינה תקינה</span>
        </div>
        <div class="form-4">
          <span>סיסמא:</span>
        </div>
        <div class="form-5">
          <input class="input-2" type="password" [(ngModel)]="password" name="second" placeholder="הסיסמא שלך">
        </div>
        <div [ngClass]="{'visible': passwordError}" class="form-6">
          <span>הסיסמא שהוזנה אינה תקינה</span>
        </div>
        <div class="form-7">
          <span>שחכתי סיסמא</span>
        </div>
        <div class="form-8">
          <button class="button" (click)="Validate()">התחבר למערכת</button>
        </div>
        <div class="form-9">
          <span class="not-member">עדיין לא רשום?</span><span class="signup" (click)="SignUp()">הירשם כאן</span>
        </div>
      </form>
      <form class="su-form" *ngIf="signUp">
        <div class="d1">
          <span>שם פרטי:</span>
          <input type="text" [(ngModel)]="this.SignUpModel.first_name" name="fname" class="fname" placeholder="שם פרטי">
        </div>
        <div class="d2">
           <span>שם משפחה: </span>
          <input type="text" [(ngModel)]="this.SignUpModel.last_name" name="lname" class="lname" placeholder="שם משפחה">
        </div>
        <div class="d3">
           <span>שם משתמש:</span>
          <input type="text" [(ngModel)]="this.SignUpModel.user" name="user" class="user" placeholder="שם משתמש">
        </div>
        <div class="d4">
          <span>סיסמא:</span>
          <input type="password" [(ngModel)]="this.SignUpModel.pwd" name="pwd" class="pwd" placeholder="סיסמא">
        </div>
        <div class="d5">
         <span>גיל:</span>
          <input type="number" [(ngModel)]="this.SignUpModel.age" name="age" class="age" placeholder="גיל">
        </div>
        <div class="d6">
          <span>קבוצה:</span>
          <input type="text" [(ngModel)]="this.SignUpModel.group" name="group" class="group" placeholder="קבוצה">
        </div>
        <div class="d7">
          <span>תפקיד:</span>
          <input type="text" [(ngModel)]="this.SignUpModel.type" name="type" class="role" placeholder="תפקיד">
        </div>
      <div class="su-group-4" [ngClass]="{'visible': signupError}"> 
        <span>אחד או יותר מהפרטים שגויים</span>
      </div>
      <div class="su-group-5">
          <button class="button" (click)="ValidateSignUp()">אישור</button>
      </div>
      </form>
    </div>
  </div>
  <div class="div-2">
    <div class="line-1">WHEN</div>
    <div class="line-2">YOUR BODY</div>
    <div class="line-3">GETS TIRED</div>
    <div class="line-4">SWIM</div>
    <div class="line-5">WITH YOUR</div>
    <div class="line-6">HEART</div>
  </div>
</div>