.envelop{
    display: flex;
    justify-content: space-around;
    font-family: Assistant;
    padding: 2rem;  
    background: #DCDCDC;
    .div-1{
        width: 50%;
        background: white;
        .logo-div{
            padding: 1rem;
            text-align: center;
            .logo{
                width: 60%;
            }
        }
        .form-div{
            .form{
                margin: auto;
                width: 50%;
                direction: rtl;
                display: flex;
                align-items: right;
                flex-direction: column;
                .form-1{
                    padding: 0.5rem;
                }
                .form-2{
                    padding: 0.5rem;
                    .input-1{
                        width: 100%;
                        padding: 0.5rem;
                        border-radius: 10px;
                        font-size: 1rem;
                        border-width: 1px;
                    }
                }
                .form-3{
                    opacity: 0;
                    font-size: 0.8rem;
                    color: red;
                    padding-right: 0.5rem;
                }
                .form-4{
                    padding: 0.5rem;
                }
                .form-5{
                    padding: 0.5rem;
                    .input-2{
                        width: 100%;
                        padding: 0.5rem;
                        border-radius: 10px;
                        font-size: 1rem;
                        border-width: 1px;
                    }
                }
                .form-6{
                    opacity: 0;
                    font-size: 0.8rem;
                    color: red;
                    padding-right: 0.5rem;
                }
                .form-7{
                    padding: 0.5rem;
                    font-size: 0.8rem;
                    color: grey;
                    cursor: pointer;
                }
                .form-8{
                    padding-right: 0.5rem;
                    text-align: center;
                    margin-top: 1rem;
                    .button{
                        background: #01a89e;
                        padding-right: 1.5rem;
                        padding-left: 1.5rem;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        color: white;
                        font-weight: bold;
                        font-size: 1.2rem;
                        font-family: Assistant;
                        cursor: pointer;
                        border-radius: 10px;
                    }
                }
            }
        }

    }
    .div-2{
        width: 50%;
        background: lightgray;
        display: flex;
        flex-direction: column;
        font-size: 5rem;
        font-family: 'Amatic SC', cursive;
        .line-1{
            font-weight: bold;
            text-align: center;
            font-size: 7rem;
            letter-spacing: 1.5rem;
        }
        .line-2{
            color: lightslategray;
            text-align: center;
            font-size: 3.5rem;
            letter-spacing: 0.55rem;
        }
        .line-3{
            color: lightslategray;
            text-align: center;
            font-size: 3.5rem;
            letter-spacing: 0.55rem;
        }
        .line-4{
            font-weight: bold;
            text-align: center;
            font-size: 7rem;
            letter-spacing: 1.5rem;
        }
        .line-5{
            color: lightslategray;
            text-align: center;
            font-size: 3.5rem;
            letter-spacing: 0.55rem;
        }
        .line-6{
            font-weight: bold;
            text-align: center;
            font-size: 7rem;
            letter-spacing: 1.5rem;
        }

    }
}

.visible{
    opacity: 1;
}

input:focus
{
    border: none;
    border: 1px solid #01a89e;
    outline: 0;
}