
.envelop{
    display: grid;
    grid-template-rows: 40% 1fr;
    grid-template-areas: "back" "login";
    font-family: Assistant;
    font-size: 1vw;

    .div-1{
        grid-area: login;
        background-color: white;
    
        input{
            outline: none;
            border: none;
            border-bottom: 1px solid #8a8264;
            background-color: transparent;
            color: #8a8264;
            width: 80%;
            font-family: 'Quattrocento', serif;


        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
            -webkit-transition-delay: 9999s;
        }

        .form-div{
            .form{
                direction: rtl;
                width: 20%;
                margin: 3% auto;
                .form-1{
                    padding: 0.5rem;
                    font-family: 'Alef', sans-serif;

                }
                .form-2{
                    padding: 0.5rem;
                    font-family: 'Alef', sans-serif;

                    .input-1{
                        padding: 0.5rem;
                        font-size: 1rem;
                    }
                }
                .form-3{
                    opacity: 0;
                    font-size: 0.8rem;
                    color: red;
                    padding-right: 0.5rem;
                }
                .form-4{
                    padding: 0.5rem;
                }
                .form-5{
                    padding: 0.5rem;
                    .input-2{
                        padding: 0.5rem;
                        font-size: 1rem;
                    }
                }
                .form-6{
                    opacity: 0;
                    font-size: 0.8rem;
                    color: red;
                    padding-right: 0.5rem;
                }
                .form-7{
                    padding: 0.5rem;
                    font-size: 0.8rem;
                    color: grey;
                    cursor: pointer;
                }
                .form-8{                    
                    margin-top: 1rem;
                
                    .button{
                        width: 85%;
                        background: #999999;
                        padding-right: 1.5rem;
                        padding-left: 1.5rem;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        color: white;
                        font-weight: bold;
                        font-size: 1.2rem;
                        font-family: 'Alef', sans-serif;
                        cursor: pointer;
                        outline: none;
                        border: none; 
                    }
                }
                .form-9{
                    margin-top: 3rem;
                    width: 85%;
                    text-align: center;
                    
                    .not-member{
                    }
                    .signup{
                        color: #8C7B7C;
                        cursor: pointer;
                    }
                }
            }
            .su-form{
                display: flex;
                flex-direction: column;
                direction: rtl;
                width: 20%;
                margin: auto;
            

                input{
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #8a8264;
                    background-color: transparent;
                    color: #8a8264;
                    width: 100%;
                    font-family: 'Quattrocento', serif;
                }

                .d1{
                    padding: 1rem;
                    .fname{
                        padding: 0.5rem;
                        font-size: 1rem;
                        border-width: 1px;
                    }
                }
                .d2{
                    padding: 1rem;
                    .lname{
                        padding: 0.5rem;
                        
                        font-size: 1rem;
                        border-width: 1px;
                    }
                }
                .d3{
                    padding: 1rem;
                    .user{
                        padding: 0.5rem;
                        
                        font-size: 1rem;
                        border-width: 1px;
                    }
                }
                .d4{
                    padding: 1rem;
                    
                    .pwd{
                        
                        padding: 0.5rem;
                        
                        font-size: 1rem;
                        border-width: 1px;
                    }
                }
                .d5{
                    padding: 1rem;
                    
                    .age{
                        
                        padding: 0.5rem;
                        
                        font-size: 1rem;
                        border-width: 1px;
                    }
                }
                .d6{
                    padding: 1rem;
                    
                    .group{
                    
                        padding: 0.5rem;
                        
                        font-size: 1rem;
                        border-width: 1px;
                    }
                }
                .d7{
                    padding: 1rem;
                    
                    .role{
                        
                        padding: 0.5rem;
                        
                        font-size: 1rem;
                        border-width: 1px;
                    }
                }
                .su-group-4{
                    opacity: 0;
                    color: red;
                    text-align: center;
                }
                .su-group-5{
                    text-align: center;
                    .button{
                        width: 85%;
                        background: #999999;
                        padding-right: 1.5rem;
                        padding-left: 1.5rem;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        color: white;
                        font-weight: bold;
                        font-size: 1.2rem;
                        font-family: 'Alef', sans-serif;
                        cursor: pointer;
                        outline: none;
                        border: none; 
                    }
                }
            }
        }

    }

    .div-2{
        background: linear-gradient(rgba(20,20,20, .5), rgba(20,20,20, .5)), url("../../../assets/login-background.jpg");
        background-size: 100% 100%;
        filter: grayscale(50%);
        
        .logo-div{
            padding: 1rem;
            text-align: center;
            filter: invert(60%);
            .logo{
                width: 35%;
            }
        }
    }
}

.visible{
    opacity: 1 !important;
}


.height{
    height: 95%;
}



@media only screen and (max-width: 600px) {
    //form 
    .form-div{
        .form{
            width: 90% !important;
        }
    }
    
    //email text
    .form-1{
        font-size: 3vw;
    }

    //password text
    .form-4{
        font-size: 3vw;
    }

    .form-8{
        text-align: center;
    }

    //signup text
    .form-9{
        font-size: 2vw !important;
    }
 
    //input
    .input-1, .input-2{
        width: 90%!important;
    }    

    //logo
    .div-2{
        .logo-div{
            .logo{
                width: 85% !important;
            }
        }
    }

    //signup page
    .su-form{
        width: 70%!important;
        .d7{ 
            font-size: 1rem;
        }
        .su-group-5{
            margin-bottom: 3%;
        }
    }
}