<div class="envelop">
  <div class="div-1">
    <div class="logo-div">
      <img class="logo" src="/assets/logo.jpeg">
    </div>
    <div class="form-div">
      <form class="form">
        <div class="form-1">
          <span>נא להזין כתובת מייל:</span>
        </div>
        <div class="form-2">
          <input class="input-1" type="email" placeholder="youremail@youremail.com">
        </div>
        <div [ngClass]="{'visible': emailError}" class="form-3">
          <span>כתובת המייל אינה תקינה</span>
        </div>
        <div class="form-4">
          <span>סיסמא:</span>
        </div>
        <div class="form-5">
          <input class="input-2" type="email" placeholder="הסיסמא שלך">
        </div>
        <div [ngClass]="{'visible': passwordError}" class="form-6">
          <span>הסיסמא שהוזנה אינה תקינה</span>
        </div>
        <div class="form-7">
          <span>שחכתי סיסמא</span>
        </div>
        <div class="form-8">
          <button class="button">התחבר למערכת</button>
        </div>
      </form>
    </div>
  </div>
  <div class="div-2">
    <div class="line-1">WHEN</div>
    <div class="line-2">YOUR BODY</div>
    <div class="line-3">GETS TIRED</div>
    <div class="line-4">SWIM</div>
    <div class="line-5">WITH YOUR</div>
    <div class="line-6">HEART</div>
  </div>
</div>