.envelop{
    //padding: 1rem;
    background: #2D353C;
    color: #A8ACB1;
    font-weight: bold;
    direction: rtl;
    display: flex;
    text-align: right; 
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 14%; 
    height: 100vh;
    font-family: 'Alef', sans-serif;
    font-size: 1vw;

    .menu{
        display: none;
        width: 2rem;   
    }
    
    .div-group-0{
        display: flex;
        flex-direction: column;
        background: linear-gradient(rgba(20,20,20, .5), rgba(20,20,20, .5)), url('../../../assets/header.jpg');
        background-size: 100% 100%;

        .profile{
            display: flex;
            text-align: right; 
            margin-top: 5px;
            margin-right: 5%;
            flex-direction: column;
            .profile_pic{
                text-align: center;
                margin-right: 1.5%;
                margin-bottom: 2%;
                .user{
                    width: 55% !important;
                    cursor: pointer;
                }
                .user2{
                    cursor: pointer;
                    border-radius: 50%;
                    width: 45% !important;
                    height: 13vh !important;
                    float: right;
                    object-fit: cover;
                    object-position: center center;
                }
            }
        }

        .name{
            font-family: 'Alef', sans-serif;
            color: grey;
            display: flex;
            flex-direction: column;
            text-align: center;
            color: white;
            padding-bottom: 1rem;
            margin-right: 1.5%;

            .title{
                font-size: 1.4rem;
                font-weight: bold;
                padding-bottom: 0.1rem;
                font-family: 'Secular One', sans-serif;
                text-align: right
            }
        }
    }

    .div-group-0:hover{
        background: linear-gradient(rgba(119, 117, 117, 0.5), rgba(112, 112, 112, 0.5)),url('../../../assets/header.jpg');
        background-size: 100% 100%;
        animation: fadein 1s;
    }

    .div-group-1{
        display: flex;
        flex-direction: column;
        .div-0{
            padding:1rem;
            display: flex;
            flex-direction: row;
            cursor: pointer;
            .div-0-1{
                width: 20%;
                .stats{
                    width:1.5rem;
                    margin-left: 0.5rem;   
                    filter: invert(.5);
                }    
            }
            .div-0-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-1{
            padding:1rem;
            display: flex;
            flex-direction: row;
            cursor: pointer;
            .div-1-1{
                width: 20%;
                .stats{
                    width:1.5rem;
                    margin-left: 0.5rem;  
                    filter: invert(.5);          
                }    
            }
            .div-1-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-2{
            display: flex;
            flex-direction: row;
            padding: 1rem;
            cursor: pointer;
            .div-2-1{
                width: 20%;
                .train{
                    width: 1.5rem;
                    margin-left: 0.8rem; 
                    filter: invert(.5);           
                }
            }
            .div-2-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-3{
            display: flex;
            flex-direction: row;
            padding:1rem;
            cursor: pointer;
            .div-3-1{
                width: 20%;
                .history{
                    width: 1.5rem;
                    margin-left: 0.5rem;  
                    filter: invert(.5);          
                }
            }
            .div-3-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-4{
            display: flex;
            flex-direction: row;
            padding:1rem;
            cursor: pointer;
            .div-4-1{
                width: 20%;
                .matalot{
                    width: 1.5rem;
                    margin-left: 0.5rem;   
                    filter: invert(.5);         
                }
            }
            .div-4-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-5{
            display: flex;
            flex-direction: row;
            padding:1rem;
            cursor: pointer;
            .div-5-1{
                width: 20%;
                .search{
                    width: 1.5rem;
                    margin-left: 0.5rem;   
                    filter: invert(.5);         
                }
            }
            .div-5-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-6{
            display: flex;
            flex-direction: row;
            padding:1rem;
            cursor: pointer;
            .div-6-1{
                width: 20%;
                .sms{
                    width: 1.5rem;
                    margin-left: 0.5rem;
                    filter: invert(.5);
                }
            }
            .div-6-2{
                width: 80%;
                align-self: center;
                .mess{
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    background: lightcoral;
                    border-radius: 50%;
                    color: white;
                    font-weight: bold;
                    display: grid;
                    align-items: center;
                    font-size: 1.1vw;
                    
                    span{
                        //position: relative;
                        //top: 5px;
                    }
                }
            }
        }
        .div-7{
            display: flex;
            flex-direction: row;
            padding:1rem;
            cursor: pointer; 
            .div-7-1{
                width: 20%;
                .settings{
                    width: 1.5rem;
                    margin-left: 0.5rem;
                    filter: invert(.5);
                }
            }
            .div-7-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-8{
            display: flex;
            flex-direction: row;
            padding:1rem;
            cursor: pointer;
            .div-8-1{
                width: 20%;
                .help{
                    width: 1.5rem;
                    margin-left: 0.5rem;
                    filter: invert(.5);
                }
            }
            .div-8-2{
                width: 80%;
                align-self: center;
            }
        }

    }
}

.div-0:hover, .div-1:hover,.div-2:hover,.div-3:hover,.div-4:hover,.div-5:hover,.div-6:hover,.div-7:hover,.div-8:hover
{
    //background: whitesmoke;
    color: white;
    filter: brightness(0) invert(1);         
}

@media only screen and (max-width: 600px) {
    .div-7{
        position: unset!important;
    }
    .center{
        padding-right: 1rem;
    }
    .menu{
        display: block !important;
        padding: 0.5rem 0.5rem 0 0!important; 
        filter: invert(0.5) !important;
    }
    .envelop{
        width: 50%;
        font-size: 4vw;
    }

    //יעדים של שחיינים
    .div-4-2{
        span{
            display: none;
        }
    }
    .div-4-2:after{
        content: "ייעדי שחיינים";
        margin-right: 1rem!important;           
    }

    .div-group-0{
        display: none !important;
    }
    
}
