.envelop{
    padding: 1rem;
    background: #01a89e;
    color: white;
    font-weight: bold;
    font-family: Assistant;
    direction: rtl;
    display: flex;
    text-align: right;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 13%;
    height: 100vh;
    font-family: 'Alef', sans-serif;
    .menu{
        display: none;
        width: 2rem;   
    }
    .div-group-1{
        display: flex;
        flex-direction: column;
        .div-0{
            padding:1rem;
            display: flex;
            flex-direction: row;
            cursor: pointer;
            .div-0-1{
                width: 20%;
                .stats{
                    width:1.5rem;
                    margin-left: 0.5rem;        
                }    
            }
            .div-0-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-1{
            padding:1rem;
            display: flex;
            flex-direction: row;
            cursor: pointer;
            .div-1-1{
                width: 20%;
                .stats{
                    width:1.5rem;
                    margin-left: 0.5rem;            
                }    
            }
            .div-1-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-2{
            display: flex;
            flex-direction: row;
            padding: 1rem;
            cursor: pointer;
            .div-2-1{
                width: 20%;
                .train{
                    width: 1.5rem;
                    margin-left: 0.8rem;            
                }
            }
            .div-2-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-3{
            display: flex;
            flex-direction: row;
            padding:1rem;
            cursor: pointer;
            .div-3-1{
                width: 20%;
                .history{
                    width: 1.5rem;
                    margin-left: 0.5rem;            
                }
            }
            .div-3-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-4{
            display: flex;
            flex-direction: row;
            padding:1rem;
            cursor: pointer;
            .div-4-1{
                width: 20%;
                .matalot{
                    width: 1.5rem;
                    margin-left: 0.5rem;            
                }
            }
            .div-4-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-5{
            display: flex;
            flex-direction: row;
            padding:1rem;
            cursor: pointer;
            .div-5-1{
                width: 20%;
                .search{
                    width: 1.5rem;
                    margin-left: 0.5rem;            
                }
            }
            .div-5-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-6{
            display: flex;
            flex-direction: row;
            padding:1rem;
            cursor: pointer;
            .div-6-1{
                width: 20%;
                .sms{
                    width: 1.5rem;
                    margin-left: 0.5rem;
                }
            }
            .div-6-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-7{
            display: flex;
            flex-direction: row;
            padding:1rem;
            cursor: pointer; 
            .div-7-1{
                width: 20%;
                .settings{
                    width: 1.5rem;
                    margin-left: 0.5rem;
                }
            }
            .div-7-2{
                width: 80%;
                align-self: center;
            }
        }
        .div-8{
            display: flex;
            flex-direction: row;
            padding:1rem;
            cursor: pointer;
            .div-8-1{
                width: 20%;
                .help{
                    width: 1.5rem;
                    margin-left: 0.5rem;
                }
            }
            .div-8-2{
                width: 80%;
                align-self: center;
            }
        }

    }
}

.div-1:hover,.div-2:hover,.div-3:hover,.div-4:hover,.div-5:hover,.div-6:hover,.div-7:hover,.div-8:hover{
    background: whitesmoke;
    color: grey;
}

@media only screen and (max-width: 600px) {
    .div-7{
        position: unset!important;
    }
    .center{
        padding-right: 1rem;
    }
    .menu{
        display: block !important;
    }
    .envelop{
        width: 50%;
    }
}
