<div class="envelop">
  <div class="menu">
    <img src="/assets/menu.svg" class="menu" (click)="Menu()">
  </div>
  <div class="div-group-0">
      <img *ngIf="profileservice.profile !== undefined && profileservice.profile.picture == ''" src="/assets/user.svg" style="width:7rem;height:7rem;border-radius:50%;cursor:pointer;" (click)="AddPictureProfile()" data-toggle="tooltip" data-placement="bottom" title="Update Profile Picture">
      <img *ngIf="profileservice.profile !== undefined && profileservice.profile.picture !== ''" [src]=profileservice.profile.picture style="width:7rem;height:7rem;border-radius:50%;cursor:pointer;" (click)="AddPictureProfile()" data-toggle="tooltip" data-placement="bottom" title="Update Profile Picture">
      <div class="name" *ngIf="profileservice.profile !== undefined">
        <span>{{profileservice.profile.first_name + ' ' }} {{profileservice.profile.last_name}}</span>
      </div>
  </div>
  <div class="div-group-1">
    <div class="div-0" (click)="SideNiveClick('landing')">
      <div class="div-0-1">
        <img src="/assets/mainmenu.svg" class="stats"> 
      </div> 
      <div class="div-0-2">
        <span class="center">דף ראשי</span>
      </div>
    </div>
    <div class="div-1" (click)="SideNiveClick('mytrainnings')">
      <div class="div-1-1">
        <img src="/assets/train.svg" class="stats"> 
      </div>
      <div class="div-1-2">
        <span class="center">לוח המחוונים</span>
      </div>
    </div>
    <div *ngIf="profileservice.profile !== undefined && profileservice.profile.type == role.Trainner" class="div-2" (click)="SideNiveClick('myteams')">
      <div class="div-2-1">
        <img src="/assets/teams.svg" class="train"> 
      </div>
      <div class="div-2-2">
        <span class="center">הקבוצות שלי</span>
      </div>
    </div>
    <div *ngIf="profileservice.profile !== undefined && profileservice.profile.type == role.Trainner" class="div-2" (click)="SideNiveClick('myswimmers')">
      <div class="div-2-1">
        <img src="/assets/swimmers.svg" class="train"> 
      </div>
      <div class="div-2-2">
        <span class="center">השחיינים שלי</span>
      </div>
    </div>
    <div *ngIf="profileservice.profile !== undefined && profileservice.profile.type == role.Trainner" class="div-3" (click)="SideNiveClick('realtimetrainning')">
      <div class="div-3-1">
        <img src="/assets/realtime.svg" class="history"> 
      </div>
      <div class="div-3-2">
        <span class="center">אימון זמן אמת</span>
      </div>
    </div>
    <div class="div-4" (click)="SideNiveClick('statistics')">
      <div class="div-4-1">
        <img src="/assets/stats.svg" class="matalot"> 
      </div>
      <div class="div-4-2">
        <span class="center" *ngIf="profileservice.profile !== undefined && profileservice.profile.type == role.Trainner">ייעדים של השחיינים</span>
        <span class="center" *ngIf="profileservice.profile !== undefined && profileservice.profile.type == role.Swimmer">הייעדים שלי</span>
      </div>
    </div>
    <div class="div-5" (click)="SideNiveClick('matalots')">
      <div class="div-5-1">
        <img src="/assets/book.svg" class="search"> 
      </div>
      <div class="div-5-2">
        <span class="center" *ngIf="profileservice.profile !== undefined && profileservice.profile.type == role.Trainner">הישיגי שחיינים</span>
        <span class="center" *ngIf="profileservice.profile !== undefined && profileservice.profile.type == role.Swimmer">ההישיגים שלי</span>
      </div>
    </div>
    <div class="div-6" (click)="SideNiveClick('messages')">
      <div class="div-6-1">
        <img src="/assets/envelope.svg" class="sms"> 
      </div>
      <div class="div-6-2" style="display: flex;justify-content: space-between;">
        <span class="center">הודעות</span><div *ngIf="messages > 0" class="mess">{{messages}}</div>
      </div>
    </div>
    <!---<div class="div-7" (click)="SideNiveClick('settings')">
      <div class="div-7-1">
        <img src="/assets/settings.svg" class="settings"> 
      </div>
      <div class="div-7-2">
        <span class="center">הגדרות</span>
      </div>
    </div>-->
    <!-- <div class="div-8" (click)="SideNiveClick('help')">
      <div class="div-8-1">
        <img src="/assets/help.svg" class="help"> 
      </div>
      <div class="div-8-2">
        <span class="center">עזרה</span>
      </div>
    </div> -->
  </div>
</div>