<div class="envelop">
  <div class="menu">
    <img src="/assets/menu.svg" class="menu" (click)="Menu()">
  </div>
  <div class="div-group-1">
    <div class="div-1">
      <div class="div-1-1">
        <img src="/assets/stats.svg" class="stats"> 
      </div>
      <div class="div-1-2">
        <span class="center">סטטיסטיקה</span>
      </div>
    </div>
    <div class="div-2">
      <div class="div-2-1">
        <img src="/assets/train.svg" class="train"> 
      </div>
      <div class="div-2-2">
        <span class="center">אימון זמן אמת</span>
      </div>
    </div>
    <div class="div-3">
      <div class="div-3-1">
        <img src="/assets/history.svg" class="history"> 
      </div>
      <div class="div-3-2">
        <span class="center">היסטוריה</span>
      </div>
    </div>
    <div class="div-4">
      <div class="div-4-1">
        <img src="/assets/matalot.svg" class="matalot"> 
      </div>
      <div class="div-4-2">
        <span class="center">מטלות</span>
      </div>
    </div>
    <div class="div-5">
      <div class="div-5-1">
        <img src="/assets/search.svg" class="search"> 
      </div>
      <div class="div-5-2">
        <span class="center">חיפוש</span>
      </div>
    </div>
    <div class="div-6">
      <div class="div-6-1">
        <img src="/assets/envelope.svg" class="sms"> 
      </div>
      <div class="div-6-2">
        <span class="center">הודעות</span>
      </div>
    </div>
  </div>
  <div class="div-7">
    <div class="settings">הגדרות</div>
    <div class="help">עזרה</div>
  </div>
</div>