.envelop{
    font-family: Assistant;
    direction: rtl;
    .header{
        display: flex;
        justify-content: space-between;
        h1{
    
        }
        .close{
            width: 1rem;
            align-self: flex-start;
            cursor: pointer;
        }
    }
    .body{
        .form{
            padding: 1rem;
            .form-div-1{
                padding: 1rem;
                span{
                    
                }
                input{
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 10px;
                    font-size: 1rem;
                    border-width: 1px;
                }
            }
            .form-div-2{
                padding: 1rem;
                span{

                }
                input{
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 10px;
                    font-size: 1rem;
                    border-width: 1px;
                }
            }
            .form-div-3{
                padding: 1rem;
                span{

                }
                input{
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 10px;
                    font-size: 1rem;
                    border-width: 1px;
                }
            }
            .form-div-4{
                padding: 1rem;
                span{

                }
                input{
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 10px;
                    font-size: 1rem;
                    border-width: 1px;
                }
            }
            .error{
                color: red;
                opacity: 0;
            }
        }
    }
    .but-div{
        button{
            padding:1rem;
            border-radius: 15px;
            background:lightgray;
            border: none;
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
            margin-top: 1rem;
            margin-right: 1rem;
            cursor: pointer;
            .plus{
                width: 1rem;
            }

        }
    }
}

input:focus
{
    border: none;
    border: 1px solid #01a89e;
    outline: 0;
}

.visible{
    opacity: 1 !important;
}