<div class="envelop"> 
  <div class="header">
    <h1>{{this.name}}</h1>
    <img src="/assets/close.svg" class="close" (click)="Close()">
  </div>
  <div class="body">
      <form class="form">
        <div class="form-div-2">
          <span>קבוצת התרגיל:</span>
          <mat-select style="padding: 1rem;" placeholder="בחר קבוצה" (selectionChange)="SelectGroup($event)" name="group">
            <mat-option *ngFor="let group of groups" [value]="group">
                {{group}}
            </mat-option>
          </mat-select>
          <!--<input type="text" [(ngModel)]="exercise.group" name="group" (change)="DisableError()">-->
        </div>
        <div class="form-div-3">
          <span>סגנון התרגיל:</span>
          <mat-select style="padding: 1rem;" placeholder="בחר סגנון" (selectionChange)="SelectStyle($event)" name="style">
            <mat-option *ngFor="let style of styles" [value]="style">
                {{style}}
            </mat-option>
          </mat-select>
          <!--<input type="text" [(ngModel)]="exercise.style" name="style" (change)="DisableError()">-->
        </div>
        <div class="form-div-4">
          <span>מרחק התרגיל:</span>
          <input type="text" [(ngModel)]="exercise.distance" name="distance" (change)="DisableError()"> 
        </div>
        <div class="form-div-5">
          <span *ngIf="!calculated" >גודל בריכה:</span>
          <span *ngIf="calculated">מספר נגיעות בתרגיל:</span>
          <input type="number" [(ngModel)]="exercise.howMuchTouches" name="pooldistance" (change)="PoolDistance()"> 
        </div>
        <div *ngFor="let swimmer of swimmers; let i = index">
            <div>
              <div id="swimmer{{i}}" style="padding: 0.5rem;">{{swimmer.name}}</div>
              <mat-select id="select{{i}}" style="padding: 1rem;" placeholder="בחר מסלול" (selectionChange)="Select($event)" name="team">
                <mat-option *ngFor="let route of routes" [value]="route">
                  {{route}}
                </mat-option>
              </mat-select>
            </div>
        </div>
        <div [ngClass]="{'visible':error}" class="error">אחד או יותר מהפרטים שהוזנו אינם נכונים!</div>
      </form>
  </div>
  <div class="but-div">
    <button class="but" (click)="CreateTrainning()"> <img class="plus" src="/assets/save.svg"> הוסף תרגיל</button>
  </div>
</div>

