.envelop{
    display: flex;
    direction: rtl;
    font-family: Assistant;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    background: lightsalmon;
    justify-content: space-between;
    padding: 1rem;
    .div-1{
        width: 5%;
    }   
    .div-2{
        width: 80%;
        padding-right: 3rem;
    }
    .div-3{
        width: 15%;
        text-align: left;
        button{
            padding: 1rem;
            background: lightskyblue;
            cursor: pointer;
            color: white;
            font-weight: bold;
            font-size: 1.2rem;
            padding-bottom: 0.5rem !important;
            padding-top: 0.5rem !important;
            border-radius: 6px;
        }
    }
}