.month{
    font-size: 2rem;
    font-family: Assistant;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    .left{
        width: 2rem;
        cursor: pointer;
    }
    .right{
        width: 2rem;
        cursor: pointer;
        transform: rotate(180deg)
    }
}
.envelop{
    display: flex;
    flex-wrap: wrap;
    direction: rtl;  
    font-family: Assistant;
    .calendar{
        padding: 1rem;
        border: 1px solid lightgray;
        flex-basis: 21%;
        height: 100px;
        .day{
            font-size: 2rem;
            font-weight: bold;
        }
        .dailyTrain{
            color: lightblue;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}