<div class="title">
    <h1>לוח המחוונים</h1>
</div>

<div class="month">
  <div style="padding-top: 0.2rem;">
    <img src="/assets/right-arrow.svg" class="right" (click)="PreviousMonth()">
  </div>
  <div>חודש {{CurrentMonth.name}}</div>
  <div style="padding-top: 0.2rem;">
    <img src="/assets/right-arrow.svg" class="left" (click)="NextMonth()">
  </div>
</div>

<div class="legend">
    <div class="box-legend">
      <div class="A"></div>&nbsp;&nbsp;
      <span> A קבוצה</span>
    </div>
    <div class="box-legend">
      <div class="B"></div>&nbsp;&nbsp;
      <span> B קבוצה</span>
    </div>
    <div class="box-legend">
      <div class="C"></div>&nbsp;&nbsp;
      <span> C קבוצה</span>
    </div>
    <div class="box-legend">
      <div class="D"></div>&nbsp;&nbsp;
      <span> D קבוצה</span>
    </div>
  </div>

<div class="envelop">
  <div class="days_calendar">
      <span *ngFor="let d of months">{{d}}</span>
  </div>
  <div class="calendar-div">
    <div id="day{{day.string}}" class="calendar" *ngFor="let day of CurrentMonth.DayArray">
      <div class="day">{{day.string}}</div>
      <div class="dailyTrain" *ngFor="let des of day.description" (click)="TrainningDetails(des)" 
      [ngClass]="{'yellow': day.group == 'A', 'red': day.group == 'B', 'blue': day.group == 'C' , 'green': day.group == 'D'}"> {{des}} </div>
    </div>
  </div>
</div>  