<div class="title">
    <h1>לוח המחוונים</h1>
</div>

<div class="month">
  <div style="padding-top: 0.2rem;">
    <img src="/assets/right-arrow.svg" class="right" (click)="PreviousMonth()">
  </div>
  <div>חודש {{CurrentMonth.name}}</div>
  <div style="padding-top: 0.2rem;">
    <img src="/assets/right-arrow.svg" class="left" (click)="NextMonth()">
  </div>
</div>

<div class="envelop">
  <div class="days_calendar">
      <span>א</span>
      <span>ב</span>
      <span>ג</span>
      <span>ד</span>
      <span>ה</span>
      <span>ו</span>
      <span>ש</span>
  </div>
  <div class="calendar-div">
    <div class="calendar" *ngFor="let day of CurrentMonth.DayArray">
      <div class="day">{{day.string}}</div>
      <div class="dailyTrain" *ngFor="let des of day.description" (click)="TrainningDetails(des)" 
      [ngClass]="{'yellow': day.group == 'A', 'red': day.group == 'B', 'blue': day.group == 'C' , 'green': day.group == 'D'}">אימון {{des}} </div>
    </div>
  </div>
</div>  