.title{
    color: #A8ACB1;
    direction: rtl; 
    font-size: 1rem;
    margin-bottom: 2%;
    font-family: 'Alef', sans-serif;
}

.month{
    font-size: 2rem;
    font-family: 'Alef', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: #2D353C;
    color: white;
    .left{
        width: 2rem;
        cursor: pointer;
        color: white;
    }
    .right{
        width: 2rem;
        cursor: pointer;
        transform: rotate(180deg);
        color: white;
    }
}

.envelop{ 
    display: flex;
    flex-wrap: wrap;
    direction: rtl;  
    font-family: 'Alef', sans-serif; 
    justify-content: flex-start;
    width: 100%;
    padding: 3% 0 3% 0;
    //background: linear-gradient(rgba(197, 194, 194, 0.5), rgba(177, 176, 176, 0.5)), url('../../../../assets/calander.jpg');
    //background-image:  url("../../../../assets/calander.png");
    background-repeat: no-repeat;
    background-position-x: center;
   
    .sub-envelop{
        background: yellow;
    }

    .calendar{
        padding: 1rem;
        border: 1px solid lightgray;
        flex-basis: 11.28%;
        height: 100px;
        background-color: transparent;
        
        .day{
            font-size: 2rem;
            font-weight: bold;
        }
        .dailyTrain{
            color: lightblue;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}


@media only screen and (max-width: 600px) {
    //title
    .title{
        text-align: center !important; 
    }
    .envelop{
        
        background-image:  none;

    }
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .calendar{
        flex-basis: 11.28% !important;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .calendar{
        flex-basis: 11.28% !important;
    }
}