.envelop{
    display: flex;
    justify-content:space-between;
    font-family: Assistant;
    direction: rtl;
    cursor: pointer;


    
    .group-div-1{
        width: 100%;
        display: flex;
       

        .div-1{
            width: 10px;
            margin-left: 10px;
            border-left: 1px solid lightgray;
        }
        .div-2{
            background: black;
            border-radius: 50%;
            padding: 1rem;
            text-align: center;
            align-self: center;  
            
            .icon{ 
                width: 2rem;
                height: 2rem;
            }
        }
        .div-3{
            padding: 2rem;  
            .main{
                font-size: 1.5vw;
                color: #E7E8E9;
                font-weight: bolder;
            }
            .sub{
                font-size: 1vw;
                color: #B1B4B8;
                font-weight: 500;
            }
        }
    }
}