<div id="todo-box">
  <div class="box-title"><h3>המשימות שלי</h3></div>
  <div class="box-content">
      <table>
        <td *ngFor="let task of localTask; let i = index"  class="image-box" >{{i + 1}}. {{task}}<img src="../../../../assets/close.svg" alt="delete task" (click)="DeleteTask(task)"></td>
      </table>

  </div>
  <div class="box-herf">
      <label> הוסף משימה חדשה:
        <input type="text" name="text"  [(ngModel)]="mod.message">
         <button (click)="AddTask()">הוסף</button>
      </label>  
  </div>
</div>
