<div class="envelop">
  <div class="div-1">
    <span>בחר קבוצה:</span>
  </div>
  <div class="div-2">
    <mat-select placeholder="בחר קבוצה" (selectionChange)="Select($event)" name="team">
      <mat-option *ngFor="let team of teams" [value]="team">
          {{team.name}}
      </mat-option>
    </mat-select>
  </div>
  <div class="div-3" *ngIf="currentTeam !== undefined">
    <div class="div-3-1"><span class="name">שם הקבוצה:</span> {{currentTeam.name + '  '}}</div>
    <div *ngIf="!choosenSwimmer">
      <div class="div-3-2">שחיינים:</div>
        <ul class="div-3-3" *ngFor="let swimmer of currentTeam.swimmers">
          <li class="li" (click)="SwimmerDetails(swimmer)">{{swimmer.name}}</li>
        </ul>
      </div>
    </div>

    <div class="swimmer-details" *ngIf="choosenSwimmer">
    <div class="swimmer-details-father">
      <div class="group-div-1">
        <div class="name-div">
          <span class="first">שם:</span> 
          <span class="second">{{currentSwimmer.name}}</span>
        </div>
        <div class="picture-div">
          <img style="width: 2rem;border-radius:50%" *ngIf="currentSwimmer.picture !== '' && currentSwimmer.picture !== null && currentSwimmer.picture !== undefined" [src]=currentSwimmer.picture> 
          <img style="width: 2rem;border-radius:50%" *ngIf="currentSwimmer.picture == '' || currentSwimmer.picture !== null || currentSwimmer.picture == undefined" src="/assets/user.svg">
        </div>
      </div>
      <div class="group-div-2">
        <button (click)="BackToSwimmerChoose()">אחורה</button>
      </div>
    </div>
      <div class="group-div">
        <span class="first">קבוצה:</span>
        <span class="second">{{currentSwimmer.group}}</span>
      </div>
      <div class="height-div">
        <span class="first">גובה:</span>
        <span class="second">{{currentSwimmer.height}}</span>  
      </div>
      <div class="age-div">
        <span class="first">גיל:</span>
        <span class="second">{{currentSwimmer.age}}</span>
      </div> 
    </div>

    <div class="buttons-div">
      <button class="button-1" *ngIf="choosenSwimmer" (click)="GetSwimmerTargets()">צפייה ביעדים של <span style="color:#ff6666">{{currentSwimmer.name}}</span></button>
      <button class="button-2" *ngIf="choosenSwimmer" (click)="OpenAddSwimmerTarget()">קביעת יעד חדש <span style="color:#ff6666">{{currentSwimmer.name}}</span></button>
    </div>

    <div style="margin-top: 1rem;" *ngIf="currentSwimmer !== undefined && currentSwimmer !== null && targ && currentSwimmerTargets == undefined">לא נמצאו יעדים עבור {{currentSwimmer.name}}. לחץ על ׳קביעת יעד חדש׳ כדי להוסיף יעד</div>
    <div class="targets-div" *ngIf="targ">
        <div class="targets" (click)="EnterTarget(target)" [ngClass]="{'more-margin': target.selected}" (mouseenter)="ShowSelectedCard(target)" (mouseleave)="HideSelectedCard(target)" *ngFor="let target of currentSwimmerTargets">
          <div class="div">
            <span>נוצר ב-:</span>
            <div>{{target.date | datepipe}}</div>
          </div>
          <div class="div">
            <span>סגנון:</span>
            <div>{{target.style}}</div>
          </div>
          <div class="div"> 
            <span>מרחק:</span>
            <div>{{target.distance + " מטר "}}</div>
          </div>
          <div class="div">
            <span>השגת מטרה תוך:</span>
            <div>{{target.triesToImprove + " משחים "}}</div>
          </div>
          <div class="div">
            <span>יעד:</span>
            <div>{{target.targetTime  + " שניות "}}</div>
          </div>
        </div>
    </div>

  <div *ngIf="targetChoosen">
    <div class="targets">
          <div class="div">
            <span>נוצר ב-:</span>
            <div>{{choosenTarget.date |datepipe}}</div>
          </div>
          <div class="div">
            <span>סגנון:</span>
            <div>{{choosenTarget.style}}</div>
          </div>
          <div class="div"> 
            <span>מרחק:</span>
            <div>{{choosenTarget.distance + " מטר "}}</div>
          </div>
          <div class="div">
            <span>השגת מטרה תוך:</span>
            <div>{{choosenTarget.triesToImprove + " משחים "}}</div>
          </div>
          <div class="div">
            <span>יעד:</span>
            <div>{{choosenTarget.targetTime  + " שניות "}}</div>
          </div>
        </div>
  </div>
  <div class="results-title" *ngIf="targetChoosen && specificRecords !== undefined && specificRecords !== null && specificRecords.length > 0">להלן ההשיגים של השחיין ליעד שנקבע:</div>
  <div class="results-title" *ngIf="targetChoosen && specificRecords !== undefined && specificRecords !== null && specificRecords.length == 0">אין הישיגים לשחיין ליעד זה</div>
  <div class="specific-div">
    <div *ngFor="let record of specificRecords">
        <div class="div-1">
          <div class="part">
            <div class="title">סגנון:</div>
            <div class="content">{{record.exercise_id.style}}</div>
          </div>
          <div class="part">
            <div class="title">מרחק:</div>
            <div class="content">{{record.exercise_id.distance}}</div>
          </div>
          <div class="part">
            <div class="title">תאריך:</div>
            <div class="content">{{record.date | datepipe}}</div> 
          </div>
          <div class="part">
            <div class="title">זמן סיום:</div>
            <div class="content">{{record.results[record.results.length - 1]}}</div>
          </div>
        </div>
    </div>
  </div>
  <div *ngIf="graphReady" style="margin-top: 1rem;color:#800000;">
    <span>הצגת ההישגים של היעד בגרף של השחיין:</span>
  </div>
  <div *ngIf="graphReady" style="display: block;margin-top: 1rem;width: 50%;margin: auto;">
    <canvas baseChart width="100" height="100"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
  </div>


</div>



