.envelop{
    direction: rtl;
    text-align: right;
    font-family: Assistant;
    .div-1{
        padding: 1rem;
    }
    .div-2{
        padding: 1rem;
    }
    .div-3{
        .div-3-1{
            padding: 0.5rem;
            .name{
                font-weight: bold;
                color: grey;
                text-decoration: underline;
            }
        }
        .div-3-2{
            padding: 0.5rem;
            font-weight: bold;
            color: grey;
            text-decoration: underline;
        }
        .div-3-3{
            .li{
                cursor: pointer;
                font-style: italic;
                color: lightblue;
            }
        }
    }
}