 <section>
    <div *ngIf="state == stateHelper.TrainningView">
      <div class="title">
        <span>נא לבחור אימון מתוך הרשימה:</span>
      </div>
      <div class="panel" *ngFor="let trainning of trainnings" (click)="ChooseTrainning(trainning)">
          {{trainning.name}}
      </div>
    </div>

    <div *ngIf="state == stateHelper.ExerciseView">
      <div class="title">
        <span>נא לבחור תרגיל מתוך האימון:</span>
      </div>
      <div class="panel" *ngFor="let exercise of choosenTrainning.exercises">
          <div class="properties">
              <div class="p">
               <div class="t">תאריך ביצוע התרגיל:</div>
               <div class="v">{{exercise.date}}</div>
              </div>
              <div class="p">
                <div class="t">סגנון התרגיל:</div>
                <div class="v">{{exercise.style}}</div>
              </div>
              <div class="p">
               <div class="t">קבוצת התרגיל:</div>
               <div class="v"> {{exercise.group}}</div>
             </div>
             <div class="p">
                <div class="t">מרחק התרגיל:</div>
                <div class="v">{{exercise.distance}}</div>
             </div>
             <div class="p">
                <div class="t">מספר נגיעות בתרגיל:</div>
                <div class="v">{{exercise.howMuchTouches}}</div>
             </div>
          </div>
          <div class="division">
            <span> חלוקת מסלולים :</span>
          </div>
          <div class="dessin">
            <div class="d-1" *ngFor="let route of exercise.routes.routes">
              <div class="icon"></div>
              <div class="route">מסלול: {{route.number}}</div>
              <div color="swimmer">שחיין: {{route.swimmer_ref}}</div>
            </div>
          </div>
          <div class="choose-button">
            <button class="choose" (click)="ChooseExercise(exercise)">בחר תרגיל זה</button>
        </div>
      </div>
    </div> 

    <div class="real-time" *ngIf="state == stateHelper.RealTimeView">
        <div *ngIf="ready" id="print-section">
        <div class="resume">תוצאות המשחה</div>
        <div class="table">
            <div class="header">
              <div style="font-weight:bold;" class="header-item">מסלול</div>
              <div style="font-weight:bold;" class="header-item">שחיין</div>
              <div style="font-weight:bold;" class="header-item">זמן קפיצה</div>
              <div style="font-weight:bold;" class="header-item" *ngFor="let lap of temp;let i = index">זמן נגיעה {{i + 1}}</div>
              <div style="font-weight:bold;" class="header-item">זמן סופי</div>
            </div>
        </div>
        <div class="table" *ngFor="let route of finalResultModel.routes;let i = index">
            <div class="header">
              <div style="font-weight:bold;" class="header-item">{{route.swimmer.number}}</div>
              <div style="font-weight:bold;" class="header-item">{{route.swimmer.swimmer_ref}}</div>
              <div class="header-item jump">
                  <span class="animated flash center">{{route.jump_time}}</span>
              </div>
              <div class="header-item touch" *ngFor="let res of route.results">
                  <span class="animated heartBeat center">{{res}}</span>
              </div>
              <div class="header-item final">
                <span class="animated flash center">{{route.total}}</span>
              </div>
            </div>
        </div>
      </div>
      <div class="tv" (click)="ShowTvMode()">TV Mode</div>
    </div>
  </section>


