 <div class="back-div">
  <button *ngIf="details" class="back" (click)="Back()">חזרה</button>
 </div>
 <section *ngIf="details">
    <div *ngIf="trainnings == undefined || trainnings.length == 0" class="no-trainnings"> לא נמצאו אימונים בבסיס הנתונים. באשרותך ליצור קבוצה חדשה <span class="back" (click)="GoBack()">בתפריט הראשי</span></div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{trainning.name}}</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <div class="exercises">
          <div class="div">
            <span>קבוצת אימון:</span>{{trainning.team_id.name}}
          </div>
          <div class="div">
            <span> מייל של המאמן: </span>{{trainning.coachmail}}
          </div>
            <div>תרגילים באימון:</div>
            <mat-accordion>
              <mat-expansion-panel *ngFor="let exercise of trainning.exercises">
                <mat-expansion-panel-header>
                  <mat-panel-title>{{exercise.date}}</mat-panel-title>
                    <mat-panel-description>{{exercise.distance + "  מטר,   " + exercise.style+"," + "  קבוצה " + exercise.group}}</mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="touches">מספר נגיעות בתרגיל: {{exercise.howMuchTouches}}</div>
                  <div class="div">
                    <span> חלוקת מסלולים :</span>
                  </div>
                  <div class="dessin">
                  <div class="d-1" *ngFor="let route of exercise.routes.routes">
                    <div class="icon"></div>
                    <div class="route">מסלול: {{route.number}}</div>
                    <div color="swimmer">שחיין: {{route.swimmer_ref}}</div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </section>


  <div *ngIf="!details">
    <app-month [trains]="trainnings" (trainningDetailEvent)="GetCurrentTrainning($event)" [refill]="refill"></app-month>
  </div>


