 
<button *ngIf="details" class="back" (click)="Back()"><img src="/assets/back.svg"/>חזרה</button>

<section *ngIf="details">
    <div class="resume" *ngIf="trainning.name !== undefined">
      <div>{{trainning.name}}</div>
      <div>מרחק כולל: {{warmupcount + buildupcount + corecount + warmdowncount}} מטר</div>
      <div>תאריך האימון: {{trainning.date}}</div>
    </div>
    <div class="wu-div" *ngIf="warmuparray !== undefined && warmuparray.length > 0">
      <div class="title">
        Warm-Up {{warmupcount }} meters 
        <span *ngIf="wurepeat > 0">(repeat X {{wurepeat}})</span>
      </div>
      <div class="buttons">
        <button class="repeat" (click)="Repeat('warmup')">Repeat</button>
      </div>
    </div>
    <div class="wu" *ngFor="let ex of warmuparray">
      <img src="/assets/warming-up.svg"/>
      <span>{{ex.repeat}}X{{ex.singleSwimDistance}}m {{' ' +  ex.style + ' '}} {{ex.description}}</span>
    </div>
    <div class="wu-div" *ngIf="builduparray !== undefined && builduparray.length > 0">
      <div class="title">
        Build-Up {{buildupcount }} meters 
        <span *ngIf="burepeat > 0">(repeat X {{burepeat}})</span>
      </div>
      <div class="buttons">
        <button class="repeat" (click)="Repeat('buildup')">Repeat</button>
      </div>
    </div>
    <div class="bu" *ngFor="let ex of builduparray">
      <img src="/assets/build-up.svg"/>
      <span>{{ex.repeat}}X{{ex.singleSwimDistance}}m {{' ' +  ex.style + ' '}} {{ex.description}}</span>
    </div>
    <div class="wu-div" *ngIf="corearray !== undefined && corearray.length > 0">
      <div class="title">
        Core-Main Set {{corecount }} meters 
        <span *ngIf="corepeat > 0">(repeat X {{corepeat}})</span>
      </div>    
      <div class="buttons">
        <button class="repeat" (click)="Repeat('core')">Repeat</button>
      </div>
    </div>
    <div class="co" *ngFor="let ex of corearray">
      <img src="/assets/core.svg"/>
      <span>{{ex.repeat}}X{{ex.singleSwimDistance}}m {{' ' +  ex.style + ' '}} {{ex.description}}</span>
    </div>
    <div class="wu-div" *ngIf="warmdownarray !== undefined && warmdownarray.length > 0">
      <div class="title">
        Warm-Down {{warmdowncount }} meters 
        <span *ngIf="wdrepeat > 0">(repeat X {{wdrepeat}})</span>
      </div>    
      <div class="buttons">
        <button class="repeat" (click)="Repeat('warmdown')">Repeat</button>
      </div>
    </div>
    <div class="wd" *ngFor="let ex of warmdownarray">
      <img src="/assets/warm-down.svg"/>
      <span>{{ex.repeat}}X{{ex.singleSwimDistance}}m {{' ' +  ex.style + ' '}} {{ex.description}}</span>
    </div>
  </section>


  <div *ngIf="!details">
    <app-month [trains]="trainnings" (trainningDetailEvent)="GetCurrentTrainning($event)" [refill]="refill"></app-month>
  </div>


