.envelop{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    .div-1{
        display: grid;
        align-items: center;
        .logo{
            width:35%;
            cursor: pointer;
            margin-top: 5px;
        }
    }
    .div-2{
        display: flex;
        width: 100%;
        text-align: right;
        justify-content: flex-end;
        margin-top: 5px;
        .text{
            font-family: Assistant;
            color: grey;
            display: flex;
            flex-direction: column;
            padding-right: 1rem;
            width: 60%;
            .title{
                font-size: 1.8rem;
                font-weight: bold;
                padding-bottom: 0.1rem;
            }
            .sub-title{
                padding-bottom: 0.3rem;
                direction: rtl;
            }
            .sub-sub-title{
                direction: rtl;
            }
        }
        .div-2-1{
            width: 13%;
            .user{
                width: 50%;
                cursor: pointer;
            }
            .user2{
                width: 100%;
                cursor: pointer;
                border-radius: 50%;
            }
        }
        .div-2-2{
            align-self: center;
            padding: 1rem;
            .arrow{
                width: 0.9rem;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .envelop{
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 1rem !important;
        .div-1{
            .logo{
                width: 60%;
            }
        }
        .div-2{
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: unset!important;
            .user{
                width: 40%;
            }
            .div-2-1{
                text-align: center;
                padding-top: 1rem;
                display: none;
            }
            .text{
                .title{
                    font-size: 1.5rem;
                }
                .sub-title{
                    display: none;
                }
                .sub-sub-title{
                    display: none;
                }
            }
        }
    }
}