<div class="envelop">
  <div class="div-1">
    <img class="logo" src="/assets/logo.jpeg">
  </div>
  <div class="div-2">
    <div class="text">
      <div class="title">{{title}}</div>
      <div class="sub-title">שם: <span>{{' ' + this.profile.first_name + ' ' + this.profile.last_name}}</span> </div>
      <div class="sub-sub-title">תפקיד: <span>{{' ' +this.profile.type}}</span></div>
    </div>
    <div class="div-2-2">
      <img class="arrow" src="/assets/arrow-down.svg">
    </div>
    <div class="div-2-1">
      <img class="user" src="/assets/user.svg">
    </div>
  </div>
</div>