
.envelop{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(20,20,20, .5), rgba(20,20,20, .5)), url('../../../assets/header.jpg');
    background-size: 100% 100%;
    .div-1{
        .logo{
            width:28%;
            cursor: pointer;
            margin-left: 2%;
            margin-top: 2%;
        }
    }
    .div-2{
        display: flex;
        //width: 70%;
        text-align: right; 
        margin-top: 5px;
        margin-right: 2%;
        flex-direction: column;
        .text{
            font-family: Assistant;
            color: grey;
            display: flex;
            flex-direction: column;
            text-align: center;
            color: white;
            padding-bottom: 1rem;
            margin-right: 1.5%;
            .title{
                font-size: 1.5rem;
                font-weight: bold;
                padding-bottom: 0.1rem;
                font-family: 'Secular One', sans-serif;
            }
            .sub-title{
                padding-bottom: 0.1rem;
                font-size: 1.2rem;
                direction: rtl;
                font-family: 'Alef', sans-serif;
                text-align: right;
            }
            .sub-sub-title{
                direction: rtl;
                font-family: 'Alef', sans-serif;
                text-align: right;
                opacity: 0.7;
            }
        }
        .div-2-1{
            //width: 13%;
            text-align: center;
            margin-right: 1.5%;
            .user{
                width: 55%;
                cursor: pointer;
            }
            .user2{
                cursor: pointer;
                border-radius: 50%;
                width: 25%;
                float: right;
            }
        }
        .div-2-2{
            align-self: center;
            padding: 1rem;
            .arrow{
                width: 0.9rem;
                cursor: pointer;
            }
        }
    }
}

.envelop:hover{
    background: linear-gradient(rgba(119, 117, 117, 0.5), rgba(112, 112, 112, 0.5)),url('../../../assets/header.jpg');
    background-size: 100% 100%;
    animation: fadein 1s;
}



@media only screen and (max-width: 600px) {
    .envelop{
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 1rem !important;
        .div-1{
            .logo{
                width: 60%;
            }
        }
        .div-2{
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: unset!important;
            .user{
                width: 40%;
            }
            .div-2-1{
                text-align: center;
                padding-top: 1rem;
                display: none;
            }
            .text{
                .title{
                    font-size: 1.5rem;
                }
                .sub-title{
                    display: none;
                }
                .sub-sub-title{
                    display: none;
                }
            }
        }
    }
}