.envelop{
    display: flex;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;
    justify-content: flex-end;
    font-family: 'Alef', sans-serif;
    padding-top: 1rem!important;
    padding: 2rem;
    .div-1{
        width: 45%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .div-2{
        width: 45%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .div-3{
        width: 45%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .div-4{
        width: 45%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .add-trainning{
        
    }
    .my-trainnings{
        width: 100%; 
    }
}

@media only screen and (max-width: 600px) {
    .envelop{
        flex-direction: column;
        .div-1,.div-2,.div-3,.div-4{
            width: unset!important;
        }
    }
}