<div class="title" *ngIf="pageenum === state.Landing && profileservice.profile !== undefined && profileservice.profile.type == role.Trainner">
    <h1>ממשק מנהל</h1>
    <span>דף ראשי</span>
</div>

<div class="envelop">
    <!--Main Screen of the Trainner - PLEASE DONT REMOVE WHITE SPACES-->
    <div id="box-section">
      <div class="div-1 mainBox" *ngIf="pageenum === state.Landing && profileservice.profile !== undefined && profileservice.profile.type == role.Trainner">
        <app-item-box [color]="'green'" 
                      [path]="'/assets/file.svg'"
                      [main]="'  יצירת אימון חדש'"
                      [sub]="'יצירת אימון אישי או קבוצתי'"
                      (CreateNewTrainningEvent)="CreateNewTrainningEvent($event)">
        </app-item-box>
      </div>
      <div class="div-2 mainBox" *ngIf="pageenum === state.Landing && profileservice.profile !== undefined && profileservice.profile.type == role.Trainner"> 
        <app-item-box [color]="'blue'" 
                      [path]="'/assets/save.svg'"
                      [main]="'יצירת קבוצה '"
                      [sub]="'יצירת קבוצה חדשה '"
                      (CreateNewTrainningEvent)="CreateNewTrainningEvent($event)">
        </app-item-box>
      </div>
      <div class="div-3 mainBox" *ngIf="pageenum === state.Landing && profileservice.profile !== undefined && profileservice.profile.type == role.Trainner">
        <app-item-box [color]="'red'" 
                      [path]="'/assets/plan.svg'"
                      [main]="'     עריכת אימון'"
                      [sub]="'           עריכת פרטי אימון קיים'"
                      (CreateNewTrainningEvent)="CreateNewTrainningEvent($event)">
        </app-item-box>
      </div>
      <div class="div-4 mainBox" *ngIf="pageenum === state.Landing && profileservice.profile !== undefined && profileservice.profile.type == role.Trainner">
        <app-item-box [color]="'yellow'" 
                      [path]="'/assets/plan.svg'"
                      [main]="'     עריכת קבוצה'"
                      [sub]="'עריכת פרטי קבוצה '"
                      (CreateNewTrainningEvent)="CreateNewTrainningEvent($event)">
        </app-item-box>
      </div>
    </div>

    <div id="box-section2" *ngIf="pageenum === state.Landing && profileservice.profile !== undefined && profileservice.profile.type == role.Trainner">
        <app-swimmer-box (SwimmersEvent)="GoToSwimmers($event)"></app-swimmer-box>
        <app-schedule-box (CalenderEvent)="GoToCalender($event)"></app-schedule-box>
        <app-last-training-box (GoToStatsEvent)="GoToStats($event)"></app-last-training-box>
        <app-todo-box [misssions]=tasks></app-todo-box>
    </div>

    <!--Main Screen Of the Swimmer-->
    <div *ngIf="profileservice.profile !== undefined && profileservice.profile.type == role.Swimmer && pageenum !== state.MyMatalots && pageenum !== state.MyTrainnings && pageenum !== state.Statistics && pageenum !== state.Messages">
      <app-swimmer-main-page (GoToStatsEventFather)="GoToStatsEventFatherFunc($event)"></app-swimmer-main-page>
    </div>

    <div class="add-trainning" *ngIf="pageenum === state.CreateTraining">
      <app-create-training></app-create-training>
    </div>
    <div class="add-trainning" *ngIf="pageenum === state.CreateSwimmer"> 
      <app-create-team></app-create-team>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.MyTrainnings">
      <app-my-trainnings (GoBackEvent)="LandToMainPage($event)"></app-my-trainnings>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.MyTeams">
      <app-my-teams (GoBackEvent)="LandToMainPage($event)"></app-my-teams>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.MySwimmers">
      <app-my-swimmers (GoBackEvent)="LandToMainPage($event)"></app-my-swimmers>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.RealTimeTrainning">
      <app-real-time-trainning (GoBackEvent)="LandToMainPage($event)"></app-real-time-trainning>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.Statistics">
      <app-stats></app-stats>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.MyMatalots">
      <app-matalots></app-matalots>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.Messages">
      <app-messages [mails]=mails [profiles]=profiles ></app-messages>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.Settings">
      <app-settings></app-settings>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.Help">
      <app-help></app-help>
    </div>
</div>

