<div class="envelop">
    <div class="div-1" *ngIf="pageenum === state.Landing">
      <app-item-box [color]="'green'" 
                    [path]="'/assets/file.svg'"
                    [main]="'  הקמת אימון חדש'"
                    [sub]="'יצירת אימון אישי או קבוצתי'"
                    (CreateNewTrainningEvent)="CreateNewTrainningEvent($event)"></app-item-box>
    </div>
    <div class="div-2" *ngIf="pageenum === state.Landing"> 
      <app-item-box [color]="'blue'" 
                    [path]="'/assets/save.svg'"
                    [main]="'יצירת קבוצה '"
                    [sub]="'יצירת קבוצה חדשה '"
                    (CreateNewTrainningEvent)="CreateNewTrainningEvent($event)"></app-item-box>
    </div>
    <div class="div-3" *ngIf="pageenum === state.Landing">
      <app-item-box [color]="'red'" 
                    [path]="'/assets/plan.svg'"
                    [main]="'     עריכת אימון'"
                    [sub]="'           עריכת פרטי אימון קיים'"
                    (CreateNewTrainningEvent)="CreateNewTrainningEvent($event)"></app-item-box>
    </div>
    <div class="div-4" *ngIf="pageenum === state.Landing">
      <app-item-box [color]="'yellow'" 
                    [path]="'/assets/plan.svg'"
                    [main]="'     עריכת קבוצה'"
                    [sub]="'עריכת פרטי קבוצה ושחיינים'"
                    (CreateNewTrainningEvent)="CreateNewTrainningEvent($event)"></app-item-box>
    </div>
    <div class="add-trainning" *ngIf="pageenum === state.CreateTraining">
      <app-create-training></app-create-training>
    </div>
    <div class="add-trainning" *ngIf="pageenum === state.CreateSwimmer">
      <app-create-team></app-create-team>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.MyTrainnings">
      <app-my-trainnings></app-my-trainnings>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.MyTeams">
      <app-my-teams></app-my-teams>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.MySwimmers">
      <app-my-swimmers></app-my-swimmers>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.RealTimeTrainning">
      <app-real-time-trainning></app-real-time-trainning>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.Statistics">
      <app-stats></app-stats>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.MyMatalots">
      <app-matalots></app-matalots>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.Messages">
      <app-messages></app-messages>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.Settings">
      <app-settings></app-settings>
    </div>
    <div class="my-trainnings" *ngIf="pageenum === state.Help">
      <app-help></app-help>
    </div>
</div>

