<div class="envelop">
    <div class="div-1">
        <app-item-box [color]="'green'" 
                      [path]="'/assets/file.svg'"
                      [main]="'הקמת אימון חדש'"
                      [sub]="'יצירת מטלה אישית או קבוצתית חדשה'"></app-item-box>
    </div>
    <div class="div-2"> 
      <app-item-box [color]="'blue'" 
                    [path]="'/assets/save.svg'"
                    [main]="'בחירת אימון קיים'"
                    [sub]="'בחירת אימון שקיים במערכת'"></app-item-box>
    </div>
    <div class="div-3">
      <app-item-box [color]="'red'" 
                    [path]="'/assets/plan.svg'"
                    [main]="'עריכת אימון'"
                    [sub]="'עריכת פרטי אימון קיים'"></app-item-box>
    </div>
</div>