.title{
    font-family: 'Alef', sans-serif;
    padding: 2%; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "brad title";
    position: relative;


    h1{
        grid-area: title;   
        direction: rtl; 
        color: #A8ACB1;
    }
    span{
        grid-area: brad;
        position: absolute;
        bottom: 0;
        color: #A8ACB1;
    }
}

.envelop{
    font-family: 'Alef', sans-serif;
    padding: 2%;   

    #box-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2%;
        grid-auto-flow: dense;
        
            .mainBox{
                width: 100%;
                background-size: 100% 100%;
                border-radius: 3px;
                
            }
            .div-1{
                background-image: url('../../../assets/addTraining.png');
            }
        
            .div-2{
                background-image: url('../../../assets/addTeam.png');
            }
            
            .div-3{
                background-image: url('../../../assets/editTraining.png');
            }
            
            .div-4{
                background-image: url('../../../assets/editTeam.png');
            }

            .div-1:hover, .div-2:hover, .div-3:hover, .div-4:hover{
                filter: invert(100%);
            }
    }

    #box-section2{
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "A B C" "todo todo todo";
        grid-gap: 3%;

        app-swimmer-box{
            grid-area: B;
        }

        app-schedule-box{
            grid-area: A;
        }

        app-last-training-box{
            grid-area: C;
        }

        app-todo-box{
            grid-area: todo;
        }
    }
    
    
    .add-trainning{
        
    }
    .my-trainnings{
        width: 100%; 
        
    }
}


@media only screen and (max-width: 600px) {
    .envelop{
        flex-direction: column;
        .div-1,.div-2,.div-3,.div-4{
            width: unset!important;
        }
    }
}