<img src="/assets/menu.svg" class="menu" (click)="Menu()">
<div class="envelop">
  <div class="div-1">
    <div class="div-1-1">
       <app-st-header [title]="'תפריט ראשי'"
                      [profile]="profile"></app-st-header>
    </div>
    <div class="div-1-2">
       <app-st-content></app-st-content>
        <!--<div style="text-align:center;">
          <button style="padding:1rem;background:green;cursor:pointer" (click)="Start()">START</button>
        </div>-->
    </div>
  </div>
  <div class="div-2" id="menu">
       <app-st-sidenav></app-st-sidenav>
  </div>
</div>
