<img src="/assets/menu.svg" class="menu" (click)="Menu()">
<div class="envelop">
  
  <div class="div-1">
      <div class="div-1-2">
        <app-st-content [stateFromFather]="homeEvent"
                        [stateChange]="eventPassFromSideNave"
                        [profiles]=profiles
                        [mails]=mails></app-st-content>
      </div>
  </div>

  <div class="div-2" id="menu">
        <app-st-sidenav (eventFromSideNav)="ClickFromSideNav($event)"
                        [messages]=mails.length>
        </app-st-sidenav>
  </div>

</div>
