.envelop{
    display: grid;
    grid-template-columns: 1fr 14%;
    grid-template-areas: "div1 div2";
   // height: 100%;
    .div-1{
        grid-area: div1;
        .div-1-1{

        }
        .div-1-2{

        }
    }
    .div-2{
        width: 20%;
        position: fixed;
        right: 0;
        //height: 100%;
        grid-area: div2;
    }
}

//mobile menu
.menu{
    width: 2rem;   
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 600px) {
    //grid display
    .envelop{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .div-1{
        width: 100% !important;
    }
    .div-2{
        display: none;
    }
    .menu{
        display: block !important;
        z-index: 1;
    }
}