.envelop{
    font-family: 'Alef', sans-serif;
    direction: rtl;
    .header{
        display: flex;
        justify-content: space-between;
        h1{
    
        }
        .close{
            width: 1rem;
            align-self: flex-start;
            cursor: pointer;
        }
    }
    .body{
        .form{
            padding: 1rem;
            .form-div-4{
                padding: 1rem;
                span{

                }
                input{
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 10px;
                    font-size: 1rem;
                    border-width: 1px;
                }
            }
            .form-div-5{
                padding: 1rem;
                span{

                }
                input{
                    width: 100%;
                    padding: 0.5rem;
                    font-size: 1rem;
                    border: none;
                    border-bottom: 1px solid black;
                }
            }
            .form-div-6{
                padding: 1rem;
                span{

                }
                input{
                    width: 100%;
                    padding: 0.5rem;
                    font-size: 1rem;
                    border: none;
                    border-bottom: 1px solid black;
                }
            }
            .form-div-7{
                padding: 1rem;
                span{

                }
                input{
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 10px;
                    font-size: 1rem;
                    border-width: 1px;
                }
            }
        }
    }
    .but-div{
        button{
            padding:1rem;
            border-radius: 15px;
            background:lightgray;
            border: none;
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
            margin-top: 1rem;
            margin-right: 1rem;
            cursor: pointer;
            .plus{
                width: 1rem;
            }

        }
    }
}

input:focus
{
    border: none;
    border: 1px solid #01a89e;
    outline: 0;
}

.visible{
    opacity: 1 !important;
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    text-align: right;
}


@media only screen and (max-width: 600px) {

    .form-div-4{
        input{
            font-size: 3.5vw !important;
        }
    }

    .but-div{
        button{
            font-size: 1rem !important;
            
        }
    }
}