
<div class="envelop"> 
  <div class="header">
    <h1>{{this.name}}</h1>
    <img src="/assets/close.svg" class="close" (click)="Close()">
  </div>
  <div class="body">
      <form class="form">
        <div class="form-div-4">
          <mat-select placeholder="הקבוצות שלך" (selectionChange)="Select($event)" name="team">
            <mat-option *ngFor="let team of teams" [value]="team">
              {{team.name}}
            </mat-option>
          </mat-select>
        </div>
      </form>
  </div>
  <div class="but-div">
    <button class="but" (click)="AddTeam()"> <img class="plus" src="/assets/save.svg"> הוסף קבוצה</button>
  </div>
</div>
