<div class="title">
    <h1 *ngIf="profileservice.profile.type == role.Trainner">הישגי שחיינים</h1>
    <h1 *ngIf="profileservice.profile.type == role.Swimmer">השיגים שלי</h1>
</div>

<div class="envelop">
  <div class="div-2" *ngIf="profileservice.profile.type == role.Trainner">
    <mat-select placeholder="בחר קבוצה" (selectionChange)="Select($event)" name="team">
      <mat-option *ngFor="let team of teams" [value]="team">
          {{team.name}}
      </mat-option>
    </mat-select>
  </div>

    <div class="div-3" *ngIf="currentTeam !== undefined && profileservice.profile.type == role.Trainner">
    <div *ngIf="!choosenSwimmer" style="display:flex;margin-top:0.8rem;justify-content:space-between">
      <div style="display: flex;">
          <div class="div-3-2">בחר שחיין ספציפי:</div>
          <div class="div-3-3">
            
            <!--          <mat-select placeholder="בחר שחיין" (selectionChange)="SwimmerDetails($event)" name="swimmer">
                <mat-option *ngFor="let swimmer of currentTeam.swimmers" [value]="swimmer">
                  {{swimmer.name}}
                </mat-option>
              </mat-select>
          -->

              <mat-form-field>
                  <mat-label>בחירת שחיין</mat-label>
                  <mat-select (selectionChange)="SwimmerDetails($event)" name="swimmer">
                    <!---<mat-option class="all-team" (click)="AllTheTeamChoosen()">
                          כל הקבוצה
                    </mat-option>-->
                    <mat-option *ngFor="let swimmer of currentTeam.swimmers" [value]="swimmer">
                        {{swimmer.name}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>
    </div>
  </div>

    <div class="swimmer-details" *ngIf="(choosenSwimmer && !teamChoosen) || swimmerAlone">
    <div class="swimmer-details-father">
        <div class="group-div-1">
          <div class="name-div">
            <span class="first">שם:</span> 
            <span class="second">{{currentSwimmer.name}}</span>
          </div>
          <div class="picture-div">
            <img style="width: 2rem;border-radius:50%" *ngIf="currentSwimmer.picture !== '' && currentSwimmer.picture !== null && currentSwimmer.picture !== undefined" [src]=currentSwimmer.picture> 
            <img style="width: 2rem;border-radius:50%" *ngIf="currentSwimmer.picture == '' || currentSwimmer.picture !== null || currentSwimmer.picture == undefined" src="/assets/user.svg">
          </div>
        </div>
        <div class="group-div">
          <span class="first">קבוצה:</span>
          <span class="second">{{currentSwimmer.group}}</span>
        </div>
        <div class="height-div">
          <span class="first">גובה:</span>
          <span class="second">{{currentSwimmer.height}}</span>  
        </div>
        <div class="age-div">
          <span class="first">גיל:</span>
          <span class="second">{{currentSwimmer.age}}</span>
        </div> 
        <div class="group-div-2">
          <!---<button (click)="BackToSwimmerChoose()">אחורה</button>-->
        </div>
      </div>
    </div>

    <div class="team-choosen" *ngIf="teamChoosen">
      
      <!--
      <div class="swimmers-div">
        <div class="title">שחייני הקבוצה:</div>
        <div class="swimmer" *ngFor="let swimmer of currentTeam.swimmers">{{swimmer.name}}</div>
      </div>
      -->
      <div class="back-div">
        <!----<button (click)="BackToSwimmerChoose()">אחורה</button>-->
        <button (click)="ChangeView()">שינוי תצוגה</button>
      </div>
    </div>

  <div class="filter" *ngIf="graphReady && !jumpGraph">
    <div class="div-1">הישגים של קבוצת <span>{{currentTeam.name}}</span> לכל סוגי המשחים</div>
    <div class="drop-down">
      <mat-form-field>
          <mat-label>בחירת מרחק</mat-label>
          <mat-select (selectionChange)="SelectDistanceForTeam($event)" name="distance">
            <mat-option *ngFor="let dist of distances" [value]="dist">
                {{dist}}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="!jumpGraph"> 
    <section class="graph-section"> 
      <div class="graph" *ngIf="graphReady && lineChartDataFreestyle[0].data !== undefined && lineChartDataFreestyle[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataFreestyle"
            [labels]="lineChartLabelsFreestyle"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForTeam($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>

      <div class="graph" *ngIf="graphReady && lineChartDataBackstroke[0].data !== undefined && lineChartDataBackstroke[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataBackstroke"
            [labels]="lineChartLabelsBackstroke"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForTeam($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>

      <div class="graph" *ngIf="graphReady && lineChartDataBreaststroke[0].data !== undefined && lineChartDataBreaststroke[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataBreaststroke"
            [labels]="lineChartLabelsBreaststroke"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForTeam($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>

      <div class="graph" *ngIf="graphReady && lineChartDataButterfly[0].data !== undefined && lineChartDataButterfly[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataButterfly"
            [labels]="lineChartLabelsButterfly"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForTeam($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>

      <div class="graph" *ngIf="graphReady && lineChartDataIndividualMedley[0].data !== undefined && lineChartDataIndividualMedley[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataIndividualMedley"
            [labels]="lineChartLabelsIndividualMedley"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForTeam($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>
    </section>

    <div class="filter" *ngIf="swimmerGraphReady && !jumpGraph">
      <div *ngIf="profileservice.profile.type == role.Trainner" class="div-1">הישגים של קבוצת <span>{{currentTeam.name}}</span> לכל סוגי המשחים</div>
      <div *ngIf="profileservice.profile.type !== role.Trainner" class="div-1">הישגים של קבוצת <span>{{currentSwimmer.name}}</span> לכל סוגי המשחים</div>
      <div class="drop-down">
        <!--
        <mat-select placeholder="בחר מרחק" (selectionChange)="SelectDistanceForSwimmer($event)" name="distance">
          <mat-option *ngFor="let dist of distances" [value]="dist">
            {{dist}}
          </mat-option>
        </mat-select>
      -->
        <mat-form-field>
            <mat-label>בחירת מרחק</mat-label>
            <mat-select (selectionChange)="SelectDistanceForSwimmer($event)" name="distance">
              <mat-option *ngFor="let dist of distances" [value]="dist">
                  {{dist}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      
      </div>
    </div>
    <section class="graph-section"> 
      <div class="graph" *ngIf="swimmerGraphReady && lineChartDataFreestyle[0].data !== undefined && lineChartDataFreestyle[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataFreestyle"
            [labels]="lineChartLabelsFreestyle"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForSwimmer($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>

      <div class="graph" *ngIf="swimmerGraphReady && lineChartDataBackstroke[0].data !== undefined && lineChartDataBackstroke[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataBackstroke"
            [labels]="lineChartLabelsBackstroke"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForSwimmer($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>

      <div class="graph" *ngIf="swimmerGraphReady && lineChartDataBreaststroke[0].data !== undefined && lineChartDataBreaststroke[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataBreaststroke"
            [labels]="lineChartLabelsBreaststroke"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForSwimmer($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>

      <div class="graph" *ngIf="swimmerGraphReady && lineChartDataButterfly[0].data !== undefined && lineChartDataButterfly[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataButterfly"
            [labels]="lineChartLabelsButterfly"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForSwimmer($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>

      <div class="graph" *ngIf="swimmerGraphReady && lineChartDataIndividualMedley[0].data !== undefined && lineChartDataIndividualMedley[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataIndividualMedley"
            [labels]="lineChartLabelsIndividualMedley"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForSwimmer($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>
    </section>
  </div>


<!--JumpTimeGraphTeam-->
  <div class="graph-section" *ngIf="jumpGraph">
    <div class="graph" *ngIf="lineChartDataFreestyleJump[0].data !== undefined && lineChartDataFreestyleJump[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataFreestyleJump"
            [labels]="lineChartLabelsFreestyleJump"
            [options]="lineChartOptions"
            [colors]="lineChartColors2"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForSwimmer($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>

      <div class="graph" *ngIf="lineChartDataBackstrokeJump[0].data !== undefined && lineChartDataBackstrokeJump[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataBackstrokeJump"
            [labels]="lineChartLabelsBackstrokeJump"
            [options]="lineChartOptions"
            [colors]="lineChartColors2"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForSwimmer($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>

      <div class="graph" *ngIf="lineChartDataBreaststrokeJump[0].data !== undefined && lineChartDataBreaststrokeJump[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataBreaststrokeJump"
            [labels]="lineChartLabelsBreaststrokeJump"
            [options]="lineChartOptions"
            [colors]="lineChartColors2"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForSwimmer($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>

      <div class="graph" *ngIf="lineChartDataButterflyJump[0].data !== undefined && lineChartDataButterflyJump[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataButterflyJump"
            [labels]="lineChartLabelsButterflyJump"
            [options]="lineChartOptions"
            [colors]="lineChartColors2"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForSwimmer($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>

      <div class="graph" *ngIf="lineChartDataIndividualMedleyJump[0].data !== undefined && lineChartDataIndividualMedleyJump[0].data.length > 0">
        <div style="margin-top: 1rem;color:#800000;text-align:left;">
          <span style="color:black;">הישג (בשניות)</span>
        </div>
        <div style="display: block;margin-top: 1rem;margin: auto;">
          <canvas class="canvas canvaselement" baseChart 
            [datasets]="lineChartDataIndividualMedleyJump"
            [labels]="lineChartLabelsIndividualMedleyJump"
            [options]="lineChartOptions"
            [colors]="lineChartColors2"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
            (chartClick)="ChartClickedForSwimmer($event)">
          </canvas>
        </div>
        <div style="text-align:center;">תאריך ההישג</div>
      </div>
  </div>

  <div class="indication" *ngIf="showIndicator && (swimmerGraphReady || graphReady) || swimmerAlone">
    <div class="arrow" (click)="Switch('jump')">
      <img class="img1" src="/assets/right-arrow.svg"/>
      <span>זמני תגובה</span>
    </div>
    <div class="indi">
      <div [ngClass]="{'blue': jumpGraph, 'grey': !jumpGraph}" (click)="Switch('jump')"></div>
      <div [ngClass]="{'blue':!jumpGraph, 'grey': jumpGraph}" (click)="Switch('swim')"></div>
    </div>
    <div class="arrow" (click)="Switch('swim')">
      <span>הישיגי המשחים</span>
      <img class="img2" src="/assets/left-arrow.svg"/>
    </div>
  </div>
    
</div>