.title{
    color: #A8ACB1;
    direction: rtl; 
    font-size: 1rem;
    margin-bottom: 2%;
    font-family: 'Alef', sans-serif;
}

.envelop{
    text-align: right;
    font-family: 'Alef', sans-serif;
    .div-2{
        padding: 1rem;
        background: lightgray;
        direction: rtl;
    }
    .div-3{
        float: right;
        direction: rtl;
        .all-team{
            cursor: pointer; 
            cursor: pointer;
            font-style: italic;
            color: cadetblue;
            display: flex;
            align-items: center
        }
        .div-3-1{
            padding: 0.5rem;
            .name{
                font-weight: bold;
                color: grey;
                text-decoration: underline;
            }
        }
        .div-3-2{
            padding: 0.5rem;
            font-weight: bold;
            color: grey;
            font-size: 1.3rem;
            direction: rtl;
        }
        .div-3-3{
            align-items: center;
            display: flex;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            direction: ltr;
            cursor: pointer;
            .li{
                cursor: pointer;
                font-style: italic;
                color: lightblue;
            }
        }
    }


    .swimmer-details{
        padding: 1rem;
        direction: rtl;
        .swimmer-details-father{
            //display: flex;
            //justify-content: space-between;
            .group-div-1{
                display: flex;
                flex-direction: row;
                .name-div{
                    position: relative;
                    top: 0.45rem;
                    .first{
                        padding: 0.5rem;
                        font-weight: bold;
                        color: grey;
                    }
                    .second{
                        padding: 0.5rem;
                    }
                }
                .picture-div{
                    .first{
                        padding: 0.5rem;
                        font-weight: bold;
                    }
                    .second{
                        padding: 0.5rem;
                    }
                }
            }
            .group-div-2{                
                button{
                    padding: 1rem;
                    background-color: #2D353C;
                    color: white;
                    font-weight: bold;
                    font-family: 'Alef', sans-serif;
                    cursor: pointer;
                    font-size: 1rem;
                    padding-bottom: 0.3rem;
                    padding-top: 0.3rem;
                    border: none;
                    float: left;
                }
            }

        }
        .group-div{
            padding: 0.5rem;
            direction: rtl;
            .first{
                font-weight: bold;
                color: grey;
            }
            .second{
                padding: 0.5rem;
            }
        }
        .age-div{
            direction: rtl;
            padding: 0.5rem;
            .first{
                font-weight: bold;
                color: grey;
            }
            .second{
                padding: 0.5rem;
            }
        }
        .height-div{
            direction: rtl;
            padding: 0.5rem;
            .first{
                font-weight: bold;
                color: grey;
            }
            .second{
                padding: 0.5rem;
            }
        }
    }
    .buttons-div{
        display: flex;
        direction: rtl;
        .button-1{
            width: 50%;
            padding: 1rem;
            font-weight: bold;
            font-family: 'Alef', sans-serif;
            cursor: pointer;
            font-size: 1rem;
            text-align: center;
            border: 1px solid lightgray;
        }
        .button-2{
            width: 50%;
            padding: 1rem;
            font-weight: bold;
            font-family: 'Alef', sans-serif;
            cursor: pointer;
            font-size: 1rem;
            text-align: center;
            border: 1px solid lightgray;
        }
        .button-4{
            width: 50%;
            padding: 1rem;
            font-weight: bold;
            font-family: 'Alef', sans-serif;
            cursor: pointer;
            font-size: 1rem;
            text-align: center;
            border: 1px solid lightgray;
        }
        .button-3{
            width: 50%;
            padding: 1rem;
            font-weight: bold;
            font-family: 'Alef', sans-serif;
            cursor: pointer;
            font-size: 1rem;
            text-align: center;
            border: 1px solid lightgray;
        }
    }

    .targets-div{
        display: flex; 
        flex-direction: column;
        margin-top: 1rem;
        direction: rtl;
        .table-header{
            display: flex;
            .div{
                width: 25%;
                align-self: center;
                border: 1px solid lightgrey;
                font-weight: bold;
                padding: 0.8rem;
                font-size: 1.2rem;
            }
        }
        .targets{
            cursor: pointer;
            background-color: whitesmoke;
            direction: rtl;
            div{ 
                width: 25%;
                align-self: center;
                border: 1px solid lightgrey;
                height: 1.5rem;
                padding: 0.5rem;
            }
            .div{
                padding: 1rem;
                display: flex;
                padding-left: 0.7rem !important;
                padding-right: 0.7rem !important;
                span{
                    font-weight: bold;
                    color: grey;
                    margin-left: 0.2rem;
                    font-style: italic;
                }
                div{ 
                    font-style: italic;
                }
            }
            .image{
                width: 1.5rem;
                display: block;
                margin: auto;
            }
        }
    }
    .targets{
        display: flex;
        cursor: pointer;
        direction: rtl;
        .div{
            padding: 1rem;
            display: flex;
            padding-left: 0.7rem !important;
            padding-right: 0.7rem !important;
            span{
                font-weight: bold;
                color: grey;
                margin-left: 0.2rem;
                font-style: italic;
            }
            div{ 
                font-style: italic;
            }
        }
    }
    .results-title{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
        color:#800000;
        font-family: 'Alef', sans-serif;
        direction: rtl;
    }
    .specific-div{
        display: flex;
        flex-wrap: wrap;
        direction: rtl;
        .div-1{
            font-family: 'Alef', sans-serif;
            .part{
                display: flex;
                justify-content: space-between;
                .title{
                    font-weight: bold;
                }
                .content{
                    color:red;
                    font-weight: bold;
                }
            }
        }
    }

    .team-choosen{
        margin-top: 1rem;
        
        .swimmers-div{
            display: flex;
            .title{
                font-weight: bold;
                text-decoration: underline;
            }
            .swimmer{
                margin-left: 0.7rem;
                margin-right: 0.7rem;
            }
        }
        .back-div{
            direction: rtl;
            button{
                padding: 1rem;
                background-color: #2D353C;
                color: white;
                font-weight: bold;
                font-family: 'Alef', sans-serif;
                cursor: pointer;
                font-size: 1rem;
                float: left;
                border: none;

            }
        } 
    }

    .choice{ 
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        margin-top: 1.5rem;
        direction: rtl;
        div{ 
            padding: 0.7rem;
            background: lightgray;
            border-radius: 7px;
            font-weight: bold;
            font-family: Assistant;
            cursor: pointer;
        }
    }
 
    .filter{
        
        padding: 1rem;

        .div-1{
            font-size: 1vw;
            text-align: center;
        }
        .div-filter{
            cursor:pointer;
            align-self: center;
        }
        .drop-down{
            
        }
    }

    .graph-section{
        display:flex; 
        flex-wrap:wrap;
        justify-content: space-around;
        direction: rtl;
        .graph{
            margin: 1rem;
            background: lightgray;
            border-radius: 10px;
            padding: 1rem;
        }
    }

    .indication{
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        direction: rtl;
        .indi{
            display: flex;
            div{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                margin: 0.5rem;
                cursor: pointer;
            }
        }
        .arrow{
            cursor: pointer;
            display: flex;
            direction: rtl;
            .img1{
                width: 1rem;
                height: 1rem;
                align-self: center;
            }
            .img2{
                width: 11px;
                height: 11px;
                align-self: center;
                margin-right: 3px;
            }
        }
    }

    
}

.div-3-3:hover, .all-team:hover, .button-1:hover, .button-2:hover, .line:hover, .button-3:hover, .button-4:hover{
    background-color: aliceblue !important;
    direction: rtl;
}

.blue{
    background: lightblue;
    direction: rtl;
}

.grey{
    background: lightgray;
    direction: rtl;
}

@media only screen and (max-width: 600px) {
    .title{
        text-align: center !important;
    }

    .div-3-2{
        font-size: 3.5vw !important;
    }

    .canvas{

    }
    .canvas2{

    }

}


.canvas{
    width: 25em !important;
    height: 18vh !important;
}

.canvas2{
    width: unset !important;
    height: unset !important;
}