<div class="title">
    <h1>הישגי שחיינים</h1>
</div>

<div class="envelop">
  <div class="div-1">
    <span>בחר קבוצה:</span>
  </div>
  <div class="div-2">
    <mat-select placeholder="בחר קבוצה" (selectionChange)="Select($event)" name="team">
      <mat-option *ngFor="let team of teams" [value]="team">
          {{team.name}}
      </mat-option>
    </mat-select>
  </div>

    <div class="div-3" *ngIf="currentTeam !== undefined">
    <div *ngIf="!choosenSwimmer" style="display:flex;margin-top:0.8rem;justify-content:space-between">
      <div style="display: flex;">
        <div class="div-3-2">בחר שחיין ספציפי או את כל הקבוצה:</div>
        <div class="div-3-3" *ngFor="let swimmer of currentTeam.swimmers">
            <span class="li" (click)="SwimmerDetails(swimmer)">{{swimmer.name}}</span>
        </div>
      </div>
      <div class="all-team" (click)="AllTheTeamChoosen()">כל הקבוצה</div>
    </div>
  </div>

    <div class="swimmer-details" *ngIf="choosenSwimmer && !teamChoosen">
    <div class="swimmer-details-father">
        <div class="group-div-1">
          <div class="name-div">
            <span class="first">שם:</span> 
            <span class="second">{{currentSwimmer.name}}</span>
          </div>
          <div class="picture-div">
            <img style="width: 2rem;border-radius:50%" *ngIf="currentSwimmer.picture !== '' && currentSwimmer.picture !== null && currentSwimmer.picture !== undefined" [src]=currentSwimmer.picture> 
            <img style="width: 2rem;border-radius:50%" *ngIf="currentSwimmer.picture == '' || currentSwimmer.picture !== null || currentSwimmer.picture == undefined" src="/assets/user.svg">
          </div>
        </div>
        <div class="group-div">
          <span class="first">קבוצה:</span>
          <span class="second">{{currentSwimmer.group}}</span>
        </div>
        <div class="height-div">
          <span class="first">גובה:</span>
          <span class="second">{{currentSwimmer.height}}</span>  
        </div>
        <div class="age-div">
          <span class="first">גיל:</span>
          <span class="second">{{currentSwimmer.age}}</span>
        </div> 
        <div class="group-div-2">
          <button (click)="BackToSwimmerChoose()">אחורה</button>
        </div>
      </div>
    </div>

    <div class="team-choosen" *ngIf="teamChoosen">
      <div class="swimmers-div">
        <div class="title">שחייני הקבוצה:</div>
        <div class="swimmer" *ngFor="let swimmer of currentTeam.swimmers">{{swimmer.name}}</div>
      </div>
      <div class="back-div">
        <button (click)="BackToSwimmerChoose()">אחורה</button>
      </div>
    </div>
    
</div>