<div class="envelop"> 
  <div class="header">
    <h1>{{this.name}}</h1>
    <img src="/assets/close.svg" class="close" (click)="Close()">
  </div>
  <div class="body">
      <form class="form" *ngIf="this.edit == 'noedit'">
        <div class="form-div-1">
          <span>שם השחיין:</span>
          <input type="text" [(ngModel)]="swimmer.name" name="name" (change)="DisableError()">
        </div>
        <div class="form-div-2">
          <span>גיל השחיין:</span>
          <input type="text" [(ngModel)]="swimmer.age" name="age" (change)="DisableError()">
        </div>
        <div class="form-div-3">
          <span>גובה השחיין:</span>
          <input type="text" [(ngModel)]="swimmer.height" name="height" (change)="DisableError()">
        </div>
        <div class="form-div-4">
          <!---<input type="text" [(ngModel)]="swimmer.group" name="group" (change)="DisableError()"> -->
          <mat-select placeholder="קבוצת השחיין:" (selectionChange)="Select($event)" name="group">
            <mat-option *ngFor="let group of groups" [value]="group">
              {{group}}
            </mat-option>
          </mat-select>
        </div>
        <div class="form-div-5">
          <span>תמונת השחיין:</span>
          <input class="picture" type="file"  name="picture" (change)="handleFileSelect($event)"> 
        </div>
        <div [ngClass]="{'visible':error}" class="error">אחד או יותר מהפרטים שהוזנו אינם נכונים!</div>
      </form>
      <form class="form" *ngIf="this.edit == 'edit'">
         <div class="form-div-4">
          <!---<input type="text" [(ngModel)]="swimmer.group" name="group" (change)="DisableError()"> -->
          <mat-select placeholder="אוסף שחיין:" (selectionChange)="Select2($event)" name="swimmers">
            <mat-option *ngFor="let swimmer of existingSwimmers" [value]="swimmer._id">
              {{swimmer.name}}
            </mat-option>
          </mat-select>
        </div>
      </form>
  </div>
  <div class="but-div">
    <button *ngIf="this.edit == 'edit'" class="but" (click)="CreateTeamWithExistingSwimmers()"> <img class="plus" src="/assets/save.svg"> הוסף שחיין</button>
    <button *ngIf="this.edit == 'noedit'" class="but" (click)="CreateTeam()"> <img class="plus" src="/assets/save.svg"> הוסף שחיין</button>
  </div>
</div>
