.envelop{
    display: grid;
    grid-template-rows: 50% 1fr;
    grid-template-areas: "details" "todo";
    grid-gap: 3%;

    app-todo-box{
        grid-area: todo;
    }

    .details{
        grid-area: details;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "details records";
        grid-gap: 3%;

        app-details-box{
            grid-area: details;
        }

        app-best-records-box{
            grid-area: records;
        }
    }



    


    
    
}