.title{
    font-family: 'Alef', sans-serif;
    padding: 1%; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "brad title";
    position: relative;


    h1{
        grid-area: title;   
        direction: rtl; 
        color: #A8ACB1;
    }
    span{
        grid-area: brad;
        position: absolute;
        bottom: 0;
        color: #A8ACB1;
    }
}

.envelop{
    display: grid;
    grid-template-rows: 1fr 1.3fr;
    grid-template-areas: "details" "todo";
    grid-gap: 1%;

    app-todo-box{
        grid-area: todo;
    }

    .details{
        grid-area: details;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "details records";
        grid-gap: 1%;

        app-details-box{
            grid-area: details;
        }

        app-best-records-box{
            grid-area: records;
        }
    } 
}


@media only screen and (max-width: 600px) {
    app-details-box{
        display: none;
    }

    app-best-records-box{
        display: none;
    }

}