<div class="envelop">
 <div class="choose-button">
   <img src="../../../../assets/logo.png" alt="logo" >
    <button class="choose" (click)="Start(exercise)">הזנק</button>
 </div>

 <div class="table">
            <div class="header">
              <div style="font-weight:bold;" class="header-item">מסלול</div>
              <div style="font-weight:bold;" class="header-item">שחיין</div>
              <div style="font-weight:bold;" class="header-item">זמן קפיצה</div>
              <div style="font-weight:bold;" class="header-item" *ngFor="let lap of swimmers;let i = index">זמן נגיעה {{i + 1}}</div>
              <div style="font-weight:bold;" class="header-item">זמן סופי</div>
            </div>
        </div>
        <div class="table" *ngFor="let swimmer of exercise.routes.routes;let i = index">
            <div class="header">
              <div style="font-weight:bold;" class="header-item">{{swimmer.number}}</div>
              <div style="font-weight:bold;" class="header-item">{{swimmer.swimmer_ref}}</div>
              <div class="header-item jump" id="jump{{i + 1}}" ><span class="animated flash center">0.00</span></div>
              <div class="header-item touch" id="touch{{swimmer.number}}{{j}}" *ngFor="let lap of swimmers;let j = index"><span class="animated heartBeat center">0.00</span></div>
              <div class="header-item final" id="final{{i + 1}}"><span class="animated flash center">0.00 </span></div>
            </div>
        </div>
        <div class="buttons">
          <button class="tv" (click)="Stop(exercise)">סיום</button>
          <button type="button" id="close" class="tv2" (click)="Close()">חזרה</button>
        </div>
</div>