.envelop{
    direction: rtl;
    text-align: right;
    font-family: 'Alef', sans-serif;


    .choose-button{
        padding: 1rem;
        text-align: center;
        width: 80%;
        margin: auto;

        img{
            width: 25%; 
        }

        .choose{
            padding: 1rem;
            background: #2D353C;
            width: 100%;
            color: white;
            font-weight: bold;
            font-size: 1.5rem;
            cursor: pointer;
            outline:none;
            border: none;
        }
        .choose2{
            padding: 1rem;
            background: red;
            width: 100%;
            color: white;
            font-weight: bold;
            font-size: 1.5rem;
            cursor: pointer;
            outline:none;
            border: none;
        }
    }
    .table{
        display: flex;
        flex-direction: column;
        .header{
            display: flex;
            justify-content: center;
            .header-item{
                padding: 1rem;
                font-family: 'Alef', sans-serif;
                font-size: 1.1rem;
                border: 1px solid grey;
                width:8.3333333%;
            }
            .final{
                color: gray;
                font-weight: bold;
            }
            .touch{
                color: green; 
                font-weight: bold;
            }
            .jump{
                font-weight: bold;
                color: orange;
            }
            .center{
                align-self: center;
            }
        }
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        .tv{
            background: red;
            border-radius: 15px;
            padding: 1rem;
            color: white;
            font-weight: bold; 
            font-family: 'Alef', sans-serif;
            cursor: pointer;
            text-align: center;
            width: 30%;
            font-size: 1.5rem;
            margin: auto;
        }
        .tv2{
            background: #2D353C;
            border-radius: 15px;
            padding: 1rem;
            color: white;
            font-weight: bold; 
            font-family: 'Alef', sans-serif;
            cursor: pointer;
            text-align: center;
            font-size: 1.5rem;
            width: 30%;
            margin: auto;
        }
    }
    .timer{
        direction: rtl;
    }
}

@media only screen and (max-width: 600px) {
   .table{
       display:none !important;
   }

   //כפתור הזנק
   .choose-button{
    img{
        width: 80% !important;
        filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
    }
   }
}