/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body{
    height: 98%;
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    text-align: right !important
}

*{
    padding: 0;
    margin: 0;
}


body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(2, 2, 2, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}