/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body{
    height: 98%;
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    text-align: right !important
}

*{
    padding: 0;
    margin: 0;
}

