.envelop{
    direction: rtl;
    font-family: Assistant;
    
    .div-1{
        /*padding: 2rem;*/
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Secular One', sans-serif;
        padding: 2%;
        span{

        } 
    } 
    .info{
        font-family: Assistant;
        color: lightgray;
        font-style: italic;
        font-weight: bold;
        font-family: 'Alef', sans-serif;

        .first{
            padding-bottom: 1rem;
        }
        .div{   
            padding-right: 2.5rem;
            .title{
                color: grey;
                text-decoration: underline;
                padding-left: 1rem;
            }
        }
    }
    .form{
        .form-div-1{
            padding: 1rem;
            display: inline;
            span{
            }
            .inp-1{
                width: 30%;
                padding: 0.5rem;
                border-radius: 10px;
                font-size: 1rem;
                border-width: 1px;
            }
        }
        .buttons{
            display: flex;
            justify-content: space-between;
            .but{
                padding:1rem;
                border-radius: 15px;
                background:lightgray;
                border: none;
                font-size: 1.5rem;
                text-align: center;
                font-weight: bold;
                margin-top: 1rem;
                margin-right: 1rem;
                cursor: pointer;
                .plus{
                    width: 1rem;
                }
            }
        }
        .error{
            color: red;
            opacity: 0;
            margin-top: 1rem;
        }
    }
    section{
        direction: ltr;
        text-align: left;
        font-family: Assistant;
        .repeat{
            cursor: pointer;
            background-color: orange;
        }
        .save{
            cursor: pointer;
            background-color: #009933;
        }
        .resume{
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            div:nth-child(1) div{
                direction: ltr;
            }
            div:nth-child(2){
                direction: ltr;
            }
            
        }
        .title{
            font-weight: normal;
            color: #000;
            font-size: 1.3em;
            margin-bottom: 0.3rem;
            margin-top: 1rem;
        }
        .wu{
            img{
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
            }
            span{
                align-self: center;
            }
            padding: 4px 20px 4px 4px;
            font-size: 13pt;
            position: relative;
            margin-bottom: 2px;
            cursor: pointer; 
            background-color: #999999;
            display: flex;
            color: white;
        }
        .bu{
            img{
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
            }
            span{
                align-self: center;
            }
            padding: 4px 20px 4px 4px;
            font-size: 13pt;
            position: relative;
            margin-bottom: 2px;
            cursor: pointer;
            background-color: #009933;
            display: flex;
            color: white;
        }
        .co{
            img{
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
            }
            span{
                align-self: center;
            }
            padding: 4px 20px 4px 4px;
            font-size: 13pt;
            position: relative;
            margin-bottom: 2px;
            cursor: pointer;
            background-color: #0066cc;
            display: flex;
            color: white;
        }
        .wd{
            img{
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
            }
            span{
                align-self: center;
            }
            color: white;
            padding: 4px 20px 4px 4px;
            font-size: 13pt;
            position: relative;
            margin-bottom: 2px;
            cursor: pointer;
            background-color: #ff6600;
            display: flex;
        }
    }
}

input:focus
{
    border: none;
    border: 1px solid #01a89e;
    outline: 0;
}

.visible{
    opacity: 1 !important;
}
.form-div-1{
    padding: 1rem;
    direction: rtl;
    font-family: Assitant;
    span{
        margin-left: 10px;
    }
    input{
        width: 30%;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 1rem;
        border-width: 1px;
    }
}

.wu-div{
    display:flex;
    justify-content: space-between;
}

.buttons{
    align-self: flex-end;
    padding-bottom: 0.5rem;
}