<div class="title">
  <h1>יצירת אימון חדש</h1>
</div>

<div class="envelop">
  <form class="form">
    <div class="form-div-1">
      <span>שם האימון:</span>
      <input type="text" [(ngModel)]="trainnningModel.name" name="name" (change)="DisableError()" class="inp-1">
    </div>
    <div class="form-div-1">
      <span>תאריך ביצוע האימון:</span>
      <input type="date" [(ngModel)]="trainnningModel.date" name="date" (change)="DisableError()">
    </div>
    <div class="buttons">
      <button class="but" (click)="OpenAddTeamBox()"> <img class="plus" src="/assets/plus.svg"> הוסף קבוצה לאימון</button>
      <button class="but" (click)="OpenCreateBox()"> <img class="plus" src="/assets/plus.svg"> הוסף תרגיל לאימון</button>
    </div>
    <div [ngClass]="{'visible': error}" class="error">יש למלא לפחות את שם האימון , בהמשך תוכל לערוך אותו!</div>
  </form>

  <section>
  <div class="resume" *ngIf="trainnningModel.name !== undefined">
      <div>{{trainnningModel.name}}</div>
      <div>מרחק כולל: {{warmupcount + buildupcount + corecount + warmdowncount}} מטר</div>
      <div>תאריך האימון: {{trainnningModel.date}}</div>
  </div>
    <div class="wu-div" *ngIf="warmuparray !== undefined && warmuparray.length > 0">
      <div class="title">
        Warm-Up {{warmupcount }} meters 
        <span *ngIf="wurepeat > 0">(repeat X {{wurepeat}})</span>
      </div>
      <div class="buttons">
        <button class="repeat" (click)="Repeat('warmup')">Repeat</button>
      </div>
    </div>
    <div class="wu" *ngFor="let ex of warmuparray">
      <img src="/assets/warming-up.svg"/>
      <span>{{ex.repeat}}X{{ex.singleSwimDistance}}m {{' ' +  ex.style + ' '}} {{ex.description}}</span>
    </div>
    <div class="wu-div" *ngIf="builduparray !== undefined && builduparray.length > 0">
      <div class="title">
        Build-Up {{buildupcount }} meters 
        <span *ngIf="burepeat > 0">(repeat X {{burepeat}})</span>
      </div>
      <div class="buttons">
        <button class="repeat" (click)="Repeat('buildup')">Repeat</button>
      </div>
    </div>
    <div class="bu" *ngFor="let ex of builduparray">
      <img src="/assets/build-up.svg"/>
      <span>{{ex.repeat}}X{{ex.singleSwimDistance}}m {{' ' +  ex.style + ' '}} {{ex.description}}</span>
    </div>
    <div class="wu-div" *ngIf="corearray !== undefined && corearray.length > 0">
      <div class="title">
        Core-Main Set {{corecount }} meters 
        <span *ngIf="corepeat > 0">(repeat X {{corepeat}})</span>
      </div>    
      <div class="buttons">
        <button class="repeat" (click)="Repeat('core')">Repeat</button>
      </div>
    </div>
    <div class="co" *ngFor="let ex of corearray">
      <img src="/assets/core.svg"/>
      <span>{{ex.repeat}}X{{ex.singleSwimDistance}}m {{' ' +  ex.style + ' '}} {{ex.description}}</span>
    </div>
    <div class="wu-div" *ngIf="warmdownarray !== undefined && warmdownarray.length > 0">
      <div class="title">
        Warm-Down {{warmdowncount }} meters 
        <span *ngIf="wdrepeat > 0">(repeat X {{wdrepeat}})</span>
      </div>    
      <div class="buttons">
        <button class="repeat" (click)="Repeat('warmdown')">Repeat</button>
      </div>
    </div>
    <div class="wd" *ngFor="let ex of warmdownarray">
      <img src="/assets/warm-down.svg"/>
      <span>{{ex.repeat}}X{{ex.singleSwimDistance}}m {{' ' +  ex.style + ' '}} {{ex.description}}</span>
    </div>
  </section>
  <button class="accept but" (click)="SaveTrainning()"> <img class="plus" src="/assets/save.svg"> סיים ושמור את האימון</button>
</div> 
