  <div class="title">
      <h1>השחיינים שלי</h1>
  </div>
  
 <section>
    <div *ngIf="swimmers == undefined || swimmers.length == 0" class="no-swimmers"> לא נמצאו שחיינים בבסיס הנתונים. באשרותך ליצור קבוצה חדשה <span class="back" (click)="GoBack()">בתפריט הראשי</span></div>
    
    <form id="filter">
        <h1>סינון תוצאות</h1>
        <label>שם פרטי: 
          <input type="text">
          <span>&#9830;</span>
        </label>
        <label>גיל: 
          <input type="number">
          <span>&#9830;</span>
        </label>
        <label>קבוצת שחייה: 
          <input type="radio" name="type" value="A" > A 
          <input type="radio" name="type" value="B" > B 
          <input type="radio" name="type" value="C" > C 
          <input type="radio" name="type" value="D" > D
        </label>
    </form>
    
    <mat-accordion>
      <mat-expansion-panel *ngFor="let swimmer of swimmers">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img *ngIf="swimmer.picture == ''" src="/assets/user.svg" style="width:2rem;height:2rem;border-radius:50%">
            <img *ngIf="swimmer.picture !== ''" [src]=swimmer.picture style="width:2rem;height:2rem;border-radius:50%">
          </mat-panel-title>
          <mat-panel-description>
            {{swimmer.name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="exercises">
          <div class="div">
            <span> שם השחיין: </span>&nbsp;{{ swimmer.name}}
          </div>
          <div class="div">
            <span> גיל השחיין: </span>&nbsp;{{ swimmer.age}}
          </div>
          <div class="div">
            <span> גובה השחיין: </span>&nbsp;{{ swimmer.height}}
          </div>
          <div class="div">
            <span> קבוצת השחיין: </span>&nbsp;{{ swimmer.group}}
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </section>