  <div class="title">
      <h1>הקבוצות שלי</h1>
  </div>
 <section>
     
    <form id="filter">
        <h1>סינון תוצאות</h1>
        <label>שם הקבוצה: 
          <input type="text">
          <span>&#9830;</span>
        </label>
        <label>שם השחיין: 
          <input type="text">
          <span>&#9830;</span>
        </label>
        <label>קבוצת שחייה: 
          <input type="radio" name="type" value="A" > A 
          <input type="radio" name="type" value="B" > B 
          <input type="radio" name="type" value="C" > C 
          <input type="radio" name="type" value="D" > D
        </label>
    </form>
    <div *ngIf="teams == undefined || teams.length == 0" class="no-teams"> לא נמצאו קבוצות בבסיס הנתונים. באשרותך ליצור קבוצה חדשה <span class="back" (click)="GoBack()">בתפריט הראשי</span></div>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let team of teams">
        <mat-expansion-panel-header>
          <mat-panel-title>{{team.name}}</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <div class="exercises">
          <div class="div">
            <span> מייל של המאמן: </span><br>{{team.coachmail}}
          </div>
          <div class="div">
            <span> שחיינים בקבוצה: </span>
            <div style="display:flexl flex-direction:ccolumn">
              <div *ngFor="let swimmer of team.swimmers">
                <br>{{swimmer.name}}
              </div>
            </div>
          </div>
      </div>
      </mat-expansion-panel>
    </mat-accordion>
  </section>